<div class="section">
    <div class="container">        
        <div id="subtitulo">
            <h5 class="subtitulo-articulos">Sanitarios - Ecologicos</h5>
        </div>
        <p class="cuerpo-articulo">
            <?php echo getDescripcionSubCategoria(26); ?>
        </p>
        <?php if(isset($_SESSION["privilegios"])) : ?>
          <?php if(binarySearch($_SESSION["privilegios"], 29)) : ?>
             <div class="row">
              <a href="editar-subcategoria.php?id=26" class="right  btn-floating blue"><i class="material-icons">edit</i></a>
             </div>
          <?php endif; ?>
        <?php endif; ?>
	<?php if(isset($_SESSION["privilegios"])): ?>
            <div class="row">
                <div class="col s12 m12 l10">
                    <select class="validate listararticulos" name="listararticulos">
                      <option value="" disabled="" selected="">Listar:</option>
                            <?=getDropdownListarArticulo(26, 'fenomenos')?>
                    </select>
                </div>
            </div>
        <?php endif; ?>
        <div id="26">
            <?php echo getFenomenos(26,'Publicados'); ?>
        </div>
        <div id="subtitilo">
            <h5 class="subtitulo-articulos">Químicos - Tecnológicos</h5>
        </div>
        <p class="cuerpo-articulo">
            <?php echo getDescripcionSubCategoria(27); ?>
        </p>
        <?php if(isset($_SESSION["privilegios"])) : ?>
          <?php if(binarySearch($_SESSION["privilegios"], 29)) : ?>
             <div class="row">
              <a href="editar-subcategoria.php?id=26" class="right  btn-floating blue"><i class="material-icons">edit</i></a>
             </div>
          <?php endif; ?>
        <?php endif; ?>
	<?php if(isset($_SESSION["privilegios"])): ?>
            <div class="row">
                <div class="col s12 m12 l10">
                    <select class="validate listararticulos" name="listararticulos">
                      <option value="" disabled="" selected="">Listar:</option>
                            <?=getDropdownListarArticulo(27, 'fenomenos')?>
                    </select>
                </div>
            </div>
        <?php endif; ?>
        <div id="27">
            <?php echo getFenomenos(27,'Publicados'); ?>
        </div>
        
        <div id="subtitulo">
            <h5 class="subtitulo-articulos">Socio - Organizativos</h5>
        </div>
        <p class="cuerpo-articulo">
            <?php echo getDescripcionSubCategoria(28); ?>
        </p>
        <?php if(isset($_SESSION["privilegios"])) : ?>
          <?php if(binarySearch($_SESSION["privilegios"], 29)) : ?>
             <div class="row">
              <a href="editar-subcategoria.php?id=26" class="right  btn-floating blue"><i class="material-icons">edit</i></a>
             </div>
          <?php endif; ?>
        <?php endif; ?>
	<?php if(isset($_SESSION["privilegios"])): ?>
            <div class="row">
                <div class="col s12 m12 l10">
                    <select class="validate listararticulos" name="listararticulos">
                      <option value="" disabled="" selected="">Listar:</option>
                            <?=getDropdownListarArticulo(28, 'fenomenos')?>
                    </select>
                </div>
            </div>
        <?php endif; ?>
        <div id="28">
            <?php echo getFenomenos(28,'Publicados'); ?>
        </div>
    </div>
</div>
