<div class="section">
    <div class="container">
      <nav class="white breadcrumbs z-depth-0">
          <div class="nav-wrapper">
            <div class="col s12">
              <a style="cursor:default;" class="breadcrumb grey-text">
              <?php
                if(isset($_GET["sub"])){ echo getCategoria(getIdCategoria($id)); }
                else if (isset($_GET["id"])){ echo getCategoria(getIdCategoria($id)); }
                else { echo "Todos los artículos"; }
              ?>
              </a>
              <a href="../articulos/ver-articulos.php?sub=<?php echo getNombreSubcategoria($id)?>" class="breadcrumb grey-text"><?php 
                if(isset($_GET["sub"]) || isset($_GET["id"])){echo getNombreSubcategoria($id);}?></a>
            </div>
          </div>
        </nav>
        <h5 class="center-align uppercase titulo-articulos">
            <?php if(isset($id)): ?>
                <?php echo  getNombreSubcategoria($id); ?>
                <?php if(isset($_SESSION["privilegios"])): ?>
                    <button class="ayuda btn-floating waves-effect waves-light red flow-text modal-trigger" type="submit" name="action" href="#ayuda"><i class="material-icons">live_help</i></button>
                <?php endif; ?>
            <?php else: ?>
                <?php if(isset($_SESSION["privilegios"])): ?>
                    <?php echo 'Listar todos los artículos' ?>
                    <button class="ayuda btn-floating waves-effect waves-light red flow-text modal-trigger" type="submit" name="action" href="#ayuda"><i class="material-icons">live_help</i></button>
                <?php else: ?>
                    <?php header('Location: ../error.html'); ?>
                <?php endif; ?>
            <?php endif; ?>
        </h5>
        
        <div id="ayuda" class="modal">
            <div class="modal-content">
              <div class="row">
                <div class="col s12 center">
                  <h4>Ayuda</h4>
                </div>
              </div>
              <div class="divider"></div>
              <div class="row">
                <div class="col s1">
                  <button onclick="return false;" class="btn-floating blue pulse"><i class="material-icons">edit</i></button>
                </div>
                <div class="col s11">
                  <p>Editar artículo.</p>
                </div>
              </div>
              <div class="row">
                <div class="col s1">
                  <button onclick="return false;" class="btn-floating red pulse"><i class="material-icons">delete_forever</i></button>
                </div>
                <div class="col s11">
                  <p>Eliminar artículo.</p>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <p>Los artículos marcados como "(Borrador)" no han sido publicados.</p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button onclick="return false;" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</button>
            </div>
        </div>

        <div class="section">
          <div class="row">
            <?php if( isset($subcategoria) ) : ?>
                <p class="cuerpo-articulo">
                    <?php echo nl2br($subcategoria['Descripcion']); ?>
                </p>
                <?php if(isset($_SESSION["privilegios"])) : ?>
                  <?php if(binarySearch($_SESSION["privilegios"], 29)) : ?>
                      <a href="editar-subcategoria.php?id=<?php echo $id; ?>" class="right  btn-floating blue"><i class="material-icons">edit</i></a>
                  <?php endif; ?>
                <?php endif; ?>
            <?php endif; ?>
          </div>
          <?php if($subcategoria["RutaImagenUsuario"] != '' && $subcategoria["RutaImagen"] != ''): ?>
          <div class="row center-align">
              <?=getImagenSubcategoria($subcategoria['RutaImagen'])?>
          </div>
          <?php endif; ?>
            <?php if(isset($_SESSION["privilegios"])): ?>
                <?php if(isset($id)): ?>
                    <?php if(getNombreSubcategoria($id) != 'Astronómicos'): ?>
                        <div class="row">
                            <div class="col s12 m12 l10">
                                <select class="validate listararticulos" name="listararticulos" >
                                  <option value="" disabled="" selected="">Listar:</option>
                                        <?=getDropdownListarArticulo($id)?>
                                </select>
                            </div>
                        </div>
                        <div id="articulos-admin">
                            <?php echo getArticulos(4,$id,'Publicados'); ?>
                        </div>
                    <?php endif; ?>
                <?php else: ?>
                    <div class="row">
                        <div class="col s12 m12 l10">
                            <select class="validate listararticulos" name="listararticulos" >
                              <option value="" disabled="" selected="">Listar:</option>
                                    <?=getDropdownListarArticulo()?>
                            </select>
                        </div>
                    </div>
                    <div id="articulos-admin">
                        <?php if(isset($_GET["id"])){ echo getArticulos(4,$id,'Publicados'); }else{echo getArticulos(4,-1,'Publicados');} ?>
                    </div>  
                <?php endif; ?>  
            <?php else: ?>
                <?php if(isset($id)): ?>
                    <?php echo getArticulos(4, $id,'Publicados'); ?>
                <?php else: ?>
                    <?php header('Location: ../error.html'); ?>
                <?php endif; ?>
            <?php endif; ?>
        </div>

    </div>
</div>
