<div class="section">
    <div class="container">
	    <?php if(isset($_SESSION["privilegios"])): ?>
                <div class="row">
                    <div class="col s12 m12 l10">
                        <select class="validate listararticulos" name="listararticulos" class="listararticulos">
                          <option value="" disabled="" selected="">Listar:</option>
                                <?=getDropdownListarArticulo($id, 'fenomenos')?>
                        </select>
                    </div>
                </div>
            <?php endif; ?>
            <div id="6">
                <?php echo getFenomenos(6,'Publicados'); ?>
            </div>    
    </div>
</div>
