<div class="section">
    <h3 class="center-align uppercase titulo-articulos">
        Bitacora de Cambios de <?php echo trunc($publicacion["TituloPublicacion"], 20); ?>
        <button class="ayuda btn-floating waves-effect waves-light red flow-text modal-trigger" name="action" href="#ayuda"><i class="material-icons">live_help</i></button>
    </h3>
</div>

<div id="ayuda" class="modal">
    <div class="modal-content">
        <h4>Ayuda Bitácora Artículo</h4>
        <p>Aquí se pueden ver todos los cambios que se han realizado a un artículo por parte de los usuarios registrados en el sistema.</p>
        <p>Las columnas corresponden a:</p>
        <p>Usuario: Quién realizó el cambio.</p>
        <p>Descripción: Cambios realizados.</p>
        <p>Fecha: Cuándo se hizo el cambio.</p>
        <p>*Nota: Los cambios están ordenados de más reciente al más antiguo.</p>
    </div>
    <div class="modal-footer">
        <button onclick="return false;" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</button>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s1 m1 l1">
            <h5></h5>
        </div>
        <div class="col s3 m3 l3">
            <h5>Usuario</h5>
        </div>
        <div class="col s5 m5 l5">
            <h5>Descripción</h5>
        </div>
        <div class="col s3 m3 l3">
            <h5>Fecha</h5>
        </div>
    </div>
    <div class="divider"></div>
    
    <?php echo getBitacoraPublicacion($publicacion["IdPublicacion"]); ?>
    
</div>
