<?php require_once("../articulos/modelo-noticias.php"); ?>
<div class="section">
    <span>
        <h5 class="center-align uppercase titulo-articulos">
            <?php if(isset($publicacion)):?>Actualizar Articulo
            <?php else: ?>Agregar Articulo
            <?php endif;?>
            <button class="ayuda btn-floating waves-effect waves-light red flow-text modal-trigger" name="action" href="#ayuda"><i class="material-icons">live_help</i></button>
        </h5>
    </span>

    <div id="ayuda" class="modal">
        <div class="modal-content">
          <div class="row">
            <div class="col s12 center">
              <h4>Ayuda Registrar Artículo</h4>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row">
            <div class="col s12">
              <p>Selecciona en qué sección o secciones de la página quieres que se publique el artículo. Las secciones están representadas como los <strong>submenús</strong> de la barra de navegación (El menú al principio de la página).</p>
              <p>Las casillas en gris representan desde dónde se acceden los submenús. Ejemplo: Haciendo click en <strong>Nosotros</strong> en la barra de navegación despliega los
              submenús: Conócenos, Misión y Ubicación.</p>
              <p>Los siguientes campos son para ingresar el título del artículo y depués el cuerpo del mismo. En el cuerpo pueden haber máximo 50,000 <strong>caracteres.</strong></p>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <p>A continuación se tienen botones para adjuntar imágenes <i class="tiny blue-text material-icons">photo</i> y archivos <i class="tiny blue-text material-icons">attach_file</i>. (No es necesario contar con una imágen o archivo para publicar el artículo).</p>
              <p>Si se desea adjuntar un video al artículo:</p>
              <ul>
                <li class="tab">-Entr al video de youtube.</li>
                <li class="tab">-Da click en botón "compartir" de Youtube</strong> <i class="small red-text material-icons">screen_share</i></li>
                <li class="tab">-En la ventana que se abre, da click en la opción insertar (o embed en inglés)</li>
                <li class="tab">-Copia el link que está entre src=" ", por ejemplo en src="https://www.youtube.com/embed/Qrzv3KKVMJA" se copia solo https://www.youtube.com/embed/Qrzv3KKVMJA</iframe></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <p>Al final se encuentran opciones para fijar el artículo y para programar su publicación.</p>
              <p>Fijar un artículo significa que este permanecera como el principal en la página de inicio (El que se ve más grande) por el tiempo que se defina.</p>
              <p>Si se decide <strong>fijar</strong> el artículo, se activaran las opciones de fecha y hora para seleccionar <strong>hasta que fecha estará fijado</strong> y hasta qué hora en la fecha seleccionada.</p>
              <p>Si se quiere <strong>programar</strong> la publicación del artículo para después, activar la opción y escoger le fecha y hora deseeada para su publicación.</p>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <p>Se puede elegir <strong>guardar el borrador</strong> del artículo si por cualquier razón necesita dejar la página y no quiere perder su progreso. Después podrás continuar editando el borrador y podrás publicarlo si así lo deseas</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button onclick="return false;" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</button>
        </div>
    </div>
    <div class="container">
        <form action="guardar-articulo.php" id="form-articulo" enctype="multipart/form-data" method="POST">
            <input id="action" type="hidden" name="action" value="submit" >
            <?php if(isset($publicacion)): ?>
            <input name="IdPublicacion" id="id" type="hidden" value="<?=$publicacion['IdPublicacion'];?>" >
            <?php endif; ?>
                <div class="row">
                    <div class="Subcategoria">
                        <label class="black-text">¿En qué sección(es) quieres que se publique el artículo?*</label>
                        <label>Si seleccionas "Noticias" aparecerá en la página de inicio en la sección "Ultimas Publicaciones"</label>
                        <br>
                            <?php if(isset($publicacion)): ?>
                              <?=getCategoriasSubcategorias($publicacion["IdPublicacion"])?>
                            <?php else: ?>
                              <?=getCategoriasSubcategorias()?>
                            <?php endif; ?>
                        <div class="error" id="error-subcategoria"><?php if(!(isset($publicacion))) echo 'Selecciona al menos una subcategoría'?></div>
                    </div>

                    <div class="input-field col s12 m12 l12">
                        <input data-length="200" maxlength="200" type="text" class="validate titulo" name="TituloPublicacion" required="true" id="titulo" value="<?php if(isset($publicacion)) echo $publicacion["TituloPublicacion"] ?>">
                        <label for="TituloPublicacion" class="black-text">Título*</label>
                        <div class="error" id="error-titulo"><?php if(!(isset($publicacion))) echo 'Ingresa el título'?></div>
                    </div>

                    <div class="input-field col s12 m12 l12">
                        <textarea maxlength="25000" class="materialize-textarea validate cuerpo" data-length="25000" name="DescripcionPublicacion" type="text" required="true" id="cuerpo"><?php if(isset($publicacion)) echo $publicacion["DescripcionPublicacion"] ?></textarea>
                        <label for="DescripcionPublicacion" class="black-text">Cuerpo del artículo*</label>
                        <div class="error" id="error-cuerpo"><?php if(!(isset($publicacion))) echo 'Ingresa el cuerpo del artículo'?></div>
                    </div>

                    <div class="col s12">
                        <div class="file-field input-field">
                            <div class="btn light-blue">
                                <i class="large material-icons">photo</i>
                                <input type="file" name="imagenes[]" accept="image/*" id="imagenes" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate imagenes" type="text" placeholder="Adjuntar una o más imágenes" name="RutaImagenesPublicacion" id="imagen" value="<?php if(isset($publicacion)) echo $publicacion["RutaImagenesPublicacion"]?>">
                                <div class="error" id="error-imagenes"></div>
                            </div>
                        </div>
                    </div>
                    
                    <?php if(isset($publicacion) && $publicacion['RutaImagenesPublicacion']): ?>
                        <div class="col s12">
                            <?=getImagenesEditar($publicacion)?>
                        </div>
                    <?php endif; ?>

                    <div class="col s12">
                        <div class="file-field input-field">
                            <div class="btn light-blue">
                                <i class="large material-icons">attach_file</i>
                                <input type="file" id="archivos"  accept=".pdf, .jpg, .jpeg, .png, .gif" name="archivos[]" accept="" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate archivos" type="text" placeholder="Adjuntar uno o más archivos" name="RutaAdjuntosPublicacion" id="archivo" value="<?php if(isset($publicacion)) echo $publicacion["RutaAdjuntosPublicacion"]?>">
                                <div class="error" id="error-archivos"></div>
                            </div>
                        </div>
                    </div>
                    
                    <?php if(isset($publicacion) && $publicacion['RutaAdjuntosPublicacion']): ?>
                        <div class="col s12">
                            <?=getArchivosAdjuntosEditar($publicacion)?>
                        </div>
                    <?php endif; ?>

                    <div class="input-field col s12">
                        <div class="file-field">
                            <div class="btn light-blue video-url-button">
                                <i class="large material-icons">videocam</i>
                            </div>
                            <div class="file-path-wrapper">
                                <input placeholder="Da click en ayuda para saber como insertar el link de un video." id="url" type="text" maxlength="50000" data-length="1000" name="URLVideoPublicacion" value="<?php if(isset($publicacion)) echo $publicacion['URLVideoPublicacion']?>">
                                <div class="error" id="error-url"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col s12">
                        <div class="row valign-wrapper">
                            <div class="col s12 m4 l4gi">
                                <div class='switch'>
                                    <label class="black-text">
                                No fijar artículo
                                <input class='fijo' name='fijo' type='hidden' value='0'>
                                <input class='fijo' id='fijo' name='fijo' type='checkbox' value='1' <?php if(isset($publicacion)) if($publicacion["FijoPublicacion"] == 1) echo checked ?>>
                                <span class='lever'></span>
                                Sí fijar artículo
                            </label>
                                </div>
                            </div>
                            <div class="input-field  col s12 m4 l4">
                                <div id="fecha-fin-fijo-div">
                                    <?php if(isset($publicacion)): ?>
                                        <?=getFechaFinFijo($publicacion["IdPublicacion"], $publicacion["FijoPublicacion"])?>
                                    <?php else: ?>
                                    <?=getFechaFinFijo()?>
                                    <?php endif; ?>
                                </div>
                                <div class="error" id="error-fecha-fin-fijo"></div>
                            </div>

                            <div class="input-field  col s12 m4 l4">
                                <div id="hora-fin-fijo-div">
                                    <?php if(isset($publicacion)): ?>
                                        <?=getHoraFinFijo($publicacion["IdPublicacion"], $publicacion["FijoPublicacion"])?>
                                    <?php else: ?>
                                        <?=getHoraFinFijo()?>
                                    <?php endif; ?>
                                </div>
                                <div class="error" id="error-hora-fin-fijo"></div>
                            </div>

                        </div>
                    </div>

                    <div class="col s12">
                        <div class="row valign-wrapper">
                            <div class="col s12 m4 l4">
                                <div class='switch'>
                                    <label class="black-text">
                                Publicar ahora
                                <input name='publicar-despues' type='hidden' value='0'>
                                <input id='publicar-despues' name='publicar-despues' type='checkbox' value='1' <?php if(isset($publicacion)) if($publicacion["PublicarDespues"] == 1) echo checked?> >
                                <span class='lever'></span>
                                Publicar después
                                    </label>
                                </div>
                            </div>

                            <div class="input-field col s12 m4 l4">
                                <div id="fecha-publicar-div">
                                    <?php if(isset($publicacion)): ?>
                                    <?=getFechaPublicar($publicacion["IdPublicacion"], $publicacion["PublicarDespues"])?>
                                        <?php else: ?>
                                        <?=getFechaPublicar()?>
                                            <?php endif; ?>
                                </div>
                                <div class="error" id="error-fecha-publicar"></div>
                            </div>

                            <div class="input-field col s12 m4 l4">
                                <div id="hora-publicar-div">
                                    <?php if(isset($publicacion)): ?>
                                    <?=getHoraPublicar($publicacion["IdPublicacion"], $publicacion["PublicarDespues"])?>
                                        <?php else: ?>
                                        <?=getHoraPublicar()?>
                                            <?php endif; ?>
                                </div>
                                <div class="error" id="error-hora-publicar"></div>
                            </div>
                        </div>
                    </div>
                </div>


            <div class="divider"></div>
            <div class="row">
                <div class="col s6 m6 l4">
                    <?php
                    if(isset($publicacion) && binarySearch($_SESSION["privilegios"], 21)){
                        echo '<a href="bitacora-articulo.php?idArticulo='.$publicacion["IdPublicacion"].'" class="modal-action modal-close waves-effect waves-light btn-flat flow-text grey lighten-3">Bitácora de Modificaciones</a>';
                    }
                    ?>
                </div>
                <div class="col s6 m6 l4">
                    <button class="waves-effect waves-light btn-flat flow-text grey lighten-3 articulo-submit" id="guardar" type="submit" name="submit" value="borrador">Guardar Borrador</button>
                </div>
                <div class="col s6 m6 l2">
                    <button class="waves-effect waves-light btn-flat flow-text grey lighten-3 flow-text modal-trigger" href="#modalCancel">Cancelar</button>
                </div>
                <div class="col s6 m6 l2">
                    <?php
                    if(binarySearch($_SESSION["privilegios"], 1)){
                        echo '<button class="right btn waves-effect waves-light flow-text light-blue articulo-submit" id="publicar" type="submit" name="submit" value="publicar">';
                            if(isset($publicacion)){
                                echo "Actualizar";
                            }else{
                                echo "Registrar";
                            }
                            echo '</button>';
                    }else if(binarySearch($_SESSION["privilegios"], 2) && isset($publicacion)){
                        echo '<button class="right btn waves-effect waves-light flow-text green articulo-submit" id="publicar" type="submit" name="submit" value="publicar">Actualizar</button>';
                    }
                ?>
                </div>
            </div>
        </form>
        <div id="modalCancel" class="modal msg-modal z-depth-5">
            <div class="modal-content left-align">
                <h4 class="grey-text text-darken-3">
                    <i class="left small material-icons red-text text-darken-2">warning</i>
                    Cancelar la operación
                </h4>
                <p class="grey-text text-darken-3" id="messageContent">Presione 'Sí' para cancelar el registro o 'No' para continuar en la página</p>
            </div>
            <div class="modal-footer" id="buttonsMessage">
                <button onclick="return false;" class="modal-action modal-close waves-effect waves btn-flat">No</button>
                <button onclick="goBack()" class="modal-action modal-close waves-effect waves-red btn-flat">Sí</button>
            </div>
        </div>
    </div>
</div>
