<div class="section">
    <span>
        <h5 class="center-align uppercase titulo-articulos">
            <?php if(isset($subcategoria)):?>Editar <?php echo $subcategoria["NombreSubcategoria"] ?>
            <?php endif;?>
            <button class="ayuda btn-floating waves-effect waves-light red flow-text modal-trigger" name="action" href="#ayuda"><i class="material-icons">live_help</i></button>
        </h5>
    </span>

    <div id="ayuda" class="modal">
        <div class="modal-content">
          <div class="row">
            <div class="col s12 center">
              <h4>Ayuda editar subcategoria</h4>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row">
            <div class="col s12">
              <p>En esta forma puedes editar la descripción del submenú o subcategoría "<?php echo $subcategoria["NombreSubcategoria"] ?>" que se encuentra dentro de "<?php echo $subcategoria["NombreCategoria"] ?>".</p>
              <p>También puedes modificar el correo principal y los correos secundarios (a quien se enviará copia de los mensajes de está sección)</p>
              <p>En los correos secundarios, también conocidos como cc, puedes agregar más de un correo pero es forzoso que los correos estén separados por una coma. Después de la coma puedes elegir dejar un espacio en blanco o escribir el correo seguido de la coma.</p>
              <p>Ejemplo de correos secundarios: correo1@queretaro.gob.mx, correo2@queretaro.gob.mx,correo3@queretaro.gob.mx</p>
              
            </div>
          </div>
          <div class="row">
            <div class="col s12">
                <p>También puedes decidir dejar este apartado vacío.</p>
            </div>
        </div>
        </div>
        <div class="modal-footer">
            <button onclick="return false;" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</button>
        </div>
    </div>
    <div class="container">
        <form action="guardar-subcategoria.php" id="form-subcategoria" enctype="multipart/form-data" method="POST">
            <?php if(isset($subcategoria)): ?>
                <input name="IdSubcategoria" id="id" type="hidden" value="<?=$subcategoria['IdSubcategoria'];?>" >
            <?php endif; ?>
            <div class="input-field col s12 m12 l12">
                <textarea maxlength="4000" class="materialize-textarea" data-length="4000" id="textoIndex" type="text" name="DescripcionSubcategoria"><?php echo $subcategoria["Descripcion"];?></textarea>
                <label for="textoIndex">Descripción del submenú o subcategoría "<?php echo $subcategoria["NombreSubcategoria"] ?>" que se encuentra dentro de "<?php echo $subcategoria["NombreCategoria"] ?>"</label>
            </div>
            <div class="input-field col s12 m12 l12">
                <input data-length="100" maxlength="100" type="text" name="CorreoSubcategoria" value="<?php if(isset($subcategoria)) echo $subcategoria['CorreoSubcategoria']?>">
                <label for="CorreoSubcategoria" class="black-text">Correo principal de "<?php echo $subcategoria["NombreSubcategoria"] ?>"</label>
            </div>
            <div class="input-field col s12 m12 l12">
                <input data-length="100" maxlength="100" type="text" name="cc" value="<?php if(isset($subcategoria)) echo $subcategoria['cc']?>">
                <label for="cc" class="black-text">Correos secundarios (a los cuales se adjunta copia). <span class="grey-text">Puedes agregar uno o más correos, si agregas más de uno debes separarlos con una coma.</span></label>
            </div>
            <div class="col s12 m12 l12">
                <label>Imágen de principal de "<?php echo $subcategoria["NombreSubcategoria"] ?>" </label>
                <div class="file-field input-field">
                    <div class="btn light-blue">
                        <i class="large material-icons">photo</i>
                        <input type="file" name="imagen" accept="image/*" id="imagen">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate imagen" type="text" placeholder="Adjuntar una imágen" name="imagen" id="imagen" value="<?php echo $subcategoria["RutaImagenUsuario"] ?>">
                        <div class="error" id="error-imagen"></div>
                    </div>
                </div>
            </div>
            <?php if($subcategoria["RutaImagenUsuario"] != '' && $subcategoria["RutaImagen"] != ''): ?>
            <div class="col s12">
               <div class="row">
                    <?php echo getImagenSubcategoria($subcategoria['RutaImagen'], 'materialboxed');?>
                </div>
            </div>
            <?php endif; ?>
            <div class="divider"></div>
            <div class="row">
                <div class="col s6 m6 l6">
                    <button class="waves-effect waves-light btn-flat flow-text grey lighten-3 flow-text modal-trigger" href="#modalCancel">Cancelar</button>
                </div>
                <div class="col s6 m6 l6">
                    <?php
                    if(binarySearch($_SESSION["privilegios"], 29)){
                        echo '<button class="right btn waves-effect waves-light flow-text light-blue subcategoria-submit" id="publicar" type="submit" name="submit" value="publicar">';
                            if(isset($subcategoria)){
                                echo "Actualizar";
                            }else{
                                echo "Registrar";
                            }
                            echo '</button>';
                    }
                    ?> 
                </div>
            </div>
        </form>
        <div id="modalCancel" class="modal msg-modal z-depth-5">
            <div class="modal-content left-align">
                <h4 class="grey-text text-darken-3">
                    <i class="left small material-icons red-text text-darken-2">warning</i>
                    Cancelar la operación
                </h4>
                <p class="grey-text text-darken-3" id="messageContent">Presione 'Sí' para cancelar el registro o 'No' para continuar en la página</p>
            </div>
            <div class="modal-footer" id="buttonsMessage">
                <button onclick="return false;" class="modal-action modal-close waves-effect waves btn-flat">No</button>
                <button onclick="goBack()" class="modal-action modal-close waves-effect waves-red btn-flat">Sí</button>
            </div>
        </div>
    </div>
</div>
