<div class="section">
    <h5 class="center-align uppercase titulo-articulos">
        Editar descripción y correos en subcategorias
        <button class="ayuda btn-floating waves-effect waves-light red flow-text modal-trigger" name="action" href="#ayuda"><i class="material-icons">live_help</i></button>
    </h5>

    <div id="ayuda" class="modal">
        <div class="modal-content">
          <div class="row">
            <div class="col s12 center">
              <h4>Ayuda</h4>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row">
            <div class="col s12">
              <p>En este apartado se encuentran todas las subcategorías del sitio.</p>
            </div>
          </div>
          <div class="row">
            <div class="col s2">
              <button class="btn light-blue accent-4"><i class="Large material-icons">edit</i></button>
            </div>
            <div class="col s10">
              <p>Con este botón se puede acceder al apartado donde se puede editar la descripción y los correos electrónicos a los que los ciudadanos pueden contactar para solicitar más información.</p>
            </div>
          </div>

        </div>
        <div class="modal-footer">
            <button onclclick="return false;" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</button>
        </div>
    </div>
    
    <div class="container">
        <?php echo getSubCategoriasEdicion();?>
    </div>
</div>
