<div class="section">
    <div class="container">  
        <div id="titulo">
            <h5 class="subtitulo-articulos">Geológicos</h5>
        </div>
        <p class="cuerpo-articulo">
            <?php echo getDescripcionSubCategoria(24); ?>
        </p>
	<?php if(isset($_SESSION["privilegios"])): ?>
            <div class="row">
                <div class="col s12 m12 l10">
                    <select class="validate" name="listararticulos" id="listararticulos">
                      <option value="" disabled="" selected="">Listar:</option>
                            <?=getDropdownListarArticulo(24, 'fenomenos')?>
                    </select>
                </div>
            </div>
        <?php endif; ?>
        <div id="24">
            <?php echo getFenomenos(24,'Publicados'); ?>
        </div>  
        
        <div id="titulo">
            <h5 class="subtitulo-articulos">Hidrometeorológicos</h5>
        </div>
        <p class="cuerpo-articulo">
            <?php echo getDescripcionSubCategoria(25); ?>
        </p>
	<?php if(isset($_SESSION["privilegios"])): ?>
            <div class="row">
                <div class="col s12 m12 l10">
                    <select class="validate" name="listararticulos" id="listararticulos">
                      <option value="" disabled="" selected="">Listar:</option>
                            <?=getDropdownListarArticulo(25, 'fenomenos')?>
                    </select>
                </div>
            </div>
        <?php endif; ?>
        <div id="25">
            <?php echo getFenomenos(25,'Publicados'); ?>
        </div>  

    </div>
</div>
