<div class="section">
    <h5 class="center-align uppercase titulo-empleados">
        Modificar Texto de "Qué es Protección Civil"
        <button class="ayuda btn-floating waves-effect waves-light red flow-text modal-trigger" type="submit" name="action" href="#ayuda"><i class="material-icons">live_help</i></button>
    </h5>
</div>

<div id="ayuda" class="modal">
    <div class="modal-content">
        <h4>Ayuda para Modificar Texto de "Qué es Protección Civil"</h4>
        <div class="divider"></div>
        <p>El formulario para modificar el texto sobre Qué es Protección Civil se constituye de los siguientes campos:</p>
        <p>Descripción de "Qué es Protección Civil": Aquí es donde se escribe la descripción sobre qué es protección civil para que las personas que ingresen al sitio se puedan informar sobre esta institución. Este campo debe tener una longitud entre 1 y 4000 caracteres.</p>
        <p>Imágen "Qué es Protección Civil": En el campo con el botón <i class="tiny blue-text material-icons">photo</i>, en caso de ser necesario, se adjunta una nueva imágen a la sección.</p>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <button onclick="return false;" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</button>
    </div>
</div>

<form method="post" action="guardar-textoIndex.php" enctype="multipart/form-data" id="form-que-es-pc">
    <div class="container">
        <div class="row">
            <div class="input-field col s12 m12 l12">
                <textarea placeholder="Descripción de Qué es Protección Civil" maxlength="4000" class="materialize-textarea validate cuerpo" data-length="4000" id="textoIndex" type="text" name="textoIndex" required="true"><?php echo getTextoIndex();?></textarea>
                <label for="textoIndex">Descripción de "Qué es Protección Civil"</label>
            </div>
            <div class="col s12 m12 l12">
                <label >Imágen de "Qué es Protección Civil"</label>
                <div class="file-field input-field">
                    <div class="btn light-blue">
                        <i class="large material-icons">photo</i>
                        <input type="file" name="imagen" accept="image/*" id="imagen">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate imagen" type="text" placeholder="Adjuntar una imágen" name="RutaImagen" id="imagen" value="<?php echo getImagenIndexQueEsPCUsuario() ?>">
                        <div class="error" id="error-imagen"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s7"></div>
            <div class="col s5">
              <button class="waves-effect waves-light btn-flat flow-text grey lighten-3 flow-text modal-trigger" type="submit" href="#modalCancel">Cancelar</button>
            <?php
                if(binarySearch($_SESSION["privilegios"], 28)){
                    echo '<button class="right btn waves-effect waves-light flow-text light-blue index-submit" type="submit" name="action" id="publicar">Actualizar
                    </button>';
                }
            ?>
            </div>
        </div>
    </div>
</form>

<div id="modalCancel" class="modal msg-modal z-depth-5">
    <div class="modal-content left-align">
        <h4 class="grey-text text-darken-3">
            <i class="left small material-icons red-text text-darken-2">warning</i>
            Cancelar la operación
        </h4>
        <p class="grey-text text-darken-3" id="messageContent">Presione 'Sí' para cancelar el registro o 'No' para continuar en la página</p>
    </div>
    <div class="modal-footer" id="buttonsMessage">
        <button onclick="return false;" class="modal-action modal-close waves-effect waves btn-flat">No</button>
        <button onclick="goBack()" class="modal-action modal-close waves-effect waves-red btn-flat">Sí</button>
    </div>
</div>
