<div class="slider-container">
    <div class="ratio">
        <?php echo getSliderBanner();?>
    </div>
</div>

<div class="section">
    <h5 class="center-align uppercase titulo-articulos">Últimas publicaciones</h5>
    <div class="container">
        <div class="row" id="noticias">

            <div class="col s12 m6 l4 center-align valign-wrapper main-news">
                <?php echo getNoticiaCard(1); ?>
            </div>

            <div class="col s12 m6 l5 other-news">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <?php echo getNoticiaCard(2);?>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="row">
                    <div class="col s12 m12 l12">
                        <?php echo getNoticiaCard(3);?>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="row">
                    <div class="col s12 m12 l12">
                        <?php echo getNoticiaCard(4);?>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="row">
                    <div class="col s12 m12 l12">
                        <?php echo getNoticiaCard(5);?>
                    </div>
                </div>
            </div>

            <div class="col s12 m12 l3 hide-on-large-only">
                <span style="display:block; height: 30px;"></span>
            </div>


            <div class="col s12 m12 l3 valign-wrapper feed-twitter">
                <a class="twitter-timeline" data-height="inherit" data-lang="es" data-theme="light" data-link-color="#2B7BB9" data-chrome="nofooter" href="https://twitter.com/pcivilqro?ref_src=twsrc%5Etfw">Tweets de CEPCQ
                    </a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>

<div class="divider"></div>

<div class="section">
    <h5 class="center-align uppercase titulo-articulos">¿Qué es protección civil?</h5>
    <div class="row grey lighten-4 valign-wrapper" id="que-es-proteccion-civil">
            <div class="col s12 m6 l6">
                <div class="container">
                    <p class="grey-text text-darken-3">
                        <?php echo getTextoIndex();?>
                    </p>
                </div>
            </div>

            <div class="col s12 m6 l6 center-align valign-wrapper img-que-es-pc">
                <img src="../images/<?php echo getImagenIndexQueEsPC();?>" alt="Proteccion Civil">
            </div>
    </div>
    <div class="row valign-wrapper dark-blue-hover">
        <div class="col s12 m6 l6">
            <h6 class="center-align uppercase white-text">¿Qué atendemos?</h6>
            <div class="row">
                <?php echo getCarouselAtendemos();?>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <h6 class="center-align uppercase white-text">¿Qué tramitamos?</h6>
            <div class="row">
                <?php echo getCarouselTramitamos();?>
            </div>
        </div>
    </div>
</div>

<div class="divider"></div>
<!--Seccion Próximos Eventos-->
<div class="section">
    <h5 class="center-align uppercase titulo-articulos">Próximos Eventos</h5>
    <div class="container prox_eventos5">
        <div class="row">

            <?php echo getProximosEventos();?>

            <a href="#">
                <div class="col s12 m6 l3">
                    <div class="card small">
                        <div class="card-content">
                            <div class="card-image">
                                <img src="../images/centro%20de%20capacitacion%20cepcq.jpg" alt="Imagen del Centro de Capacitaciones de Protección Civil Querétaro.">
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</div>
