<div class="section">
    <h5 class="center-align uppercase titulo-empleados">
        Modificar logos de "¿Qué tramitamos?"
        <button class="ayuda btn-floating waves-effect waves-light red flow-text modal-trigger" type="submit" name="action" href="#ayuda"><i class="material-icons">live_help</i></button>
    </h5>
</div>

<div id="ayuda" class="modal">
    <div class="modal-content">
        <h4>Ayuda para modificar logos de "¿Qué tramitamos?"</h4>
        <div class="divider"></div>
        <p>En esta forma se muestran las imagenes que están actualmente en la sección de "¿Qué tramitamos?" en Inicio.</p>
        <p>Puedes borrar o agregar las imagenes que tú desees. Procura que los logos sean de 250x250 pixeles</p>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <button onclick="return false;" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</button>
    </div>
</div>

<div class="container">
    <?php echo getImagenesTramitamos();?>
</div>

<form method="post" action="guardar-tramitamos.php" enctype="multipart/form-data" id="form-tramitamos">
    <div class="container">
            <div class="col s12 m12 l12">
                <label >Agregar uno o más logos de "qué tramitamos"</label>
                <div class="file-field input-field">
                    <div class="btn light-blue">
                        <i class="large material-icons">photo</i>
                        <input type="file" name="imagenes[]" accept="image/*" id="imagenes" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate imagenes" type="text" placeholder="Adjuntar una o más imágenes" name="RutaImagenesPublicacion" id="imagenes">
                        <div class="error" id="error-imagenes"></div>
                    </div>
                </div>
            </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s7"></div>
            <div class="col s5">
                <button class="waves-effect waves-light btn-flat flow-text grey lighten-3 flow-text modal-trigger" type="submit" href="#modalCancel">Cancelar</button>
                <?php
                    if(binarySearch($_SESSION["privilegios"], 28)){
                        echo '<button class="right btn waves-effect waves-light flow-text light-blue tramitamos-submit" type="submit" name="action" id="publicar">Actualizar
                        </button>';
                    }
                ?>
            </div>
        </div>
    </div>
</form>




<div id="modalCancel" class="modal msg-modal z-depth-5">
    <div class="modal-content left-align">
        <h4 class="grey-text text-darken-3">
            <i class="left small material-icons red-text text-darken-2">warning</i>
            Cancelar la operación
        </h4>
        <p class="grey-text text-darken-3" id="messageContent">Presione 'Sí' para cancelar el registro o 'No' para continuar en la página</p>
    </div>
    <div class="modal-footer" id="buttonsMessage">
        <button onclick="return false;" class="modal-action modal-close waves-effect waves btn-flat">No</button>
        <button onclick="goBack()" class="modal-action modal-close waves-effect waves-red btn-flat">Sí</button>
    </div>
</div>
