<div class="section">
    <h5 class="center-align uppercase titulo-empleados">
        Bitacora de Cambios de <?php echo $empleado["Nombre"].' '.$empleado["ApellidoP"];?>
        <button class="ayuda btn-floating waves-effect waves-light red flow-text modal-trigger" name="action" href="#ayuda"><i class="material-icons">live_help</i></button>
    </h5>
</div>

<div id="ayuda" class="modal">
    <div class="modal-content">
        <h4>Ayuda Bitácora Empleado</h4>
        <p>Aquí se pueden ver todos los cambios que un usuario registrado en el sistema ha realizado a los artículos.</p>
        <p>Las columnas corresponden a:</p>
        <p>Título Artículo: En qué artículo se realizó el cambio.</p>
        <p>Descripción: Cambios realizados.</p>
        <p>Fecha: Cuándo se hizo el cambio.</p>
        <p>*Nota: Los cambios están ordenados de más reciente al más antiguo.</p>
    </div>
    <div class="modal-footer">
        <button onclick="return false;" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</button>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s1 m1 l1">
            <h5></h5>
        </div>
        <div class="col s4 m4 l4">
            <h5>Título Artículo</h5>
        </div>
        <div class="col s4 m4 l4">
            <h5>Descripción</h5>
        </div>
        <div class="col s3 m3 l3">
            <h5>Fecha</h5>
        </div>
    </div>
    <div class="divider"></div>
    
    <?php echo getBitacora($IdEmpleado); ?>
    
</div>
