<div class="section">
    <h5 class="center-align uppercase titulo-empleados">
        <?php if(isset($entrada)):?>Actualizar Empleado
        <?php else: ?>Agregar Empleado
        <?php endif;?>
        <button class="ayuda btn-floating waves-effect waves-light red flow-text modal-trigger tooltipped" name="ayuda" href="#ayuda" data-position="right" data-delay="50" data-tooltip="Ayuda"><i class="material-icons">live_help</i></button>
    </h4>

    <div id="ayuda" class="modal">
        <div class="modal-content">
          <div class="row">
            <div class="col s12 center">
              <h4>Ayuda</h4>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row">
            <div class="col s2">
              <button class="btn light-blue accent-4"><i class="Large material-icons">edit</i></button>
            </div>
            <div class="col s10">
              <p>Acceso directo a editar Roles (izquierdo) o editar Departamentos (derecho).</p>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <p>Todos los campos son requeridos para poder completar la operación de registro.</p>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <p>Los campos de Nombre, Apellidos Paterno y Materno, y Puesto aceptan sólo caracteres alfabéticos y espacios.</p>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <p>Colocar en el campo de Correo electrónico una dirección de correo asociada a una cuenta de Google.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button onclick="return false;" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</button>
        </div>
    </div>

    <div class="container">
        <form method="post" action="guardar-empleado.php" enctype="multipart/form-data" id="formEmpleado">
            <?php if(isset($entrada)): ?>
              <input name="idUsu" id="idUsu" type="hidden" value="<?=$entrada["IdUsuario"];?>">
            <?php endif; ?>
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s5" id="rol">

                                <select required="" name="rol" class="black-text">
                              <option value="" disabled="" selected="">Escoger Rol (Requerido)</option>
                                    <?php
                                        require_once('../roles/modelo-roles.php');
                                        if(isset($entrada) && binarySearch($_SESSION["privilegios"], 15)){
                                            echo getDropdownRoles($entrada["IdRol"]);
                                        }else if(binarySearch($_SESSION["privilegios"], 14)) {
                                            echo getDropdownRoles();
                                        }else if(isset($entrada) && binarySearch($_SESSION["privilegios"], 18)){
                                            echo '<option value="3" selected>Ayudante</option>';
                                        }else if(binarySearch($_SESSION["privilegios"], 17)){
                                            echo '<option value="3">Ayudante</option>';
                                        }
                                    ?>
                                </select>
                            </div>
                            <?php
                                if(binarySearch($_SESSION["privilegios"], 8) || binarySearch($_SESSION["privilegios"], 9) || binarySearch($_SESSION["privilegios"], 10)){
                                    echo '<a href="../roles/ver-roles.php">
                                        <div class="waves-effect waves-light btn light-blue accent-4 col s1 tooltipped" data-position="down" data-delay="50" data-tooltip="Editar roles">
                                            <i class="Large material-icons">edit</i>
                                        </div>
                                    </a>';
                                }
                            ?>
                            <div class="input-field col s5" id="departamento">
                                <select required="" name="departamento" class="black-text">
                              <option value="" disabled="" selected="">Escoger Departamento (Requerido)</option>
                                    <?php require_once('../departamentos/modelo-departamentos.php');?>
                                    <?php if(isset($entrada)): ?>
                                      <?=getDropdownDepartamentos($entrada["IdDepartamento"])?>
                                    <?php else: ?>
                                      <?=getDropdownDepartamentos()?>
                                    <?php endif; ?>
                            </select>
                            </div>
                            <?php
                                if(binarySearch($_SESSION["privilegios"], 25) || binarySearch($_SESSION["privilegios"], 26) || binarySearch($_SESSION["privilegios"], 27)){
                                    echo '<a href="../departamentos/ver-departamentos.php">
                                        <div class="waves-effect waves-light btn light-blue accent-4 col s1 tooltipped" data-position="down" data-delay="50" data-tooltip="Editar departamentos">
                                            <i class="Large material-icons">edit</i>
                                        </div>
                                    </a>';
                                }
                            ?>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6 l6">
                                <input id="nombre" maxlength="50" name="nombre" type="text" class="validate" required="true" value="<?php if(isset($entrada)) echo $entrada["Nombre"] ?>">
                                <label class="black-text">Nombre</label>
                            </div>
                            <div class="input-field col s12 m6 l6">
                                <input id="apePaterno" maxlength="50" name="apePaterno" type="text" class="validate" required="true" value="<?php if(isset($entrada)) echo $entrada["ApellidoP"] ?>">
                                <label class="black-text">Apellido Paterno</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6 l6">
                                <input id="apeMaterno" maxlength="50" name="apeMaterno" type="text" class="validate" required="true" value="<?php if(isset($entrada)) echo $entrada["ApellidoM"] ?>">
                                <label class="black-text">Apellido Materno</label>
                            </div>
                            <div class="input-field col s12 m6 l6">
                                <input id="idEmpleado" name="idEmpleado" type="text" class="validate" required="true" value="<?php if(isset($entrada)) echo $entrada["IdEmpleado"] ?>">
                                <label class="black-text">ID Empleado CEPCQ</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6 l6">
                                <input id="nombreUsuario" maxlength="50" name="nombreUsuario" type="email" class="validate" required="true" value="<?php if(isset($entrada)) echo $entrada["NombreUsuario"] ?>">
                                <label class="black-text">Correo Electrónico</label>
                            </div>
                            <div class="input-field col s12 m6 l6">
                                <input id="puesto" maxlength="50" name="puesto" type="text" class="validate" required="true" value="<?php if(isset($entrada)) echo $entrada["Puesto"] ?>">
                                <label class="black-text">Puesto</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col s7"></div>
                    <div class="col s5">
                      <button class="waves-effect waves-light btn-flat flow-text grey lighten-3 flow-text modal-trigger" href="#modalCancel">Cancelar</button>
                    <?php
                        if(binarySearch($_SESSION["privilegios"], 14) || binarySearch($_SESSION["privilegios"], 17)){
                            echo '<button data-target="modalConfirm" class="right modal-trigger btn waves-effect waves-light light-blue accent-4 flow-text" name="action">';
                            if(isset($entrada)){
                                echo "Actualizar";
                            }else{
                                echo "Crear";
                            }
                            echo '</button>';
                        }else if((binarySearch($_SESSION["privilegios"], 15) || binarySearch($_SESSION["privilegios"], 18)) && isset($entrada)){
                            echo '<button class="right btn waves-effect waves-light light-blue accent-4 flow-text" type="submit" name="action">Actualizar
                            </button>';
                        }
                    ?>
                    </div>

            </div>
            <div id="modalConfirm" class="modal">
              <div class="modal-content">
                <h4>¿Confirmar registro?</h4>
                <p>Presione 'Confirmar' para realizar el registro, o 'Cancelar' para continuar en la página.</p>
              </div>
              <div class="modal-footer">
                <button onclick="return false;" class="modal-action modal-close waves-effect waves-red btn-flat red-text">Cancelar</button>
                <button class="modal-action modal-close waves-effect waves-light btn-flat light-blue-text" type="submit">Confirmar</button>
              </div>
            </div>
        </form>
    </div>
</div>
<div id="modalCancel" class="modal msg-modal z-depth-5">
    <div class="modal-content left-align">
        <h4 class="grey-text text-darken-3">
            <i class="left small material-icons red-text text-darken-2">warning</i>
            Cancelar la operación
        </h4>
        <p class="grey-text text-darken-3" id="messageContent">Presione 'Sí' para cancelar el registro o 'No' para continuar en la página.</p>
    </div>
    <div class="modal-footer" id="buttonsMessage">
        <button onclick="return false;" class="modal-action modal-close waves-effect waves btn-flat">No</button>
        <button onclick="goBack()" class="modal-action modal-close waves-effect waves-red btn-flat">Sí</button>
    </div>
</div>
