<div class="section">
    <h5 class="center-align uppercase titulo-empleados">
        <?php if(isset($Departamento)):?>Actualizar Departamento
        <?php else: ?>Registrar Departamento
        <?php endif;?>
        <button class="ayuda btn-floating waves-effect waves-light red flow-text modal-trigger" type="submit" name="action" href="#ayuda"><i class="material-icons">live_help</i></button>
    </h5>
</div>

<div id="ayuda" class="modal">
    <div class="modal-content">
        <h4 class="center-align">Ayuda para Registrar Departamento</h4>
        <div class="divider"></div>
        <p>El formulario para registrar un nuevo departamento se constituye por los siguientes campos:</p>
        <p>Nombre del Nuevo Departamendo: Aquí es donde se escribe el nombre correspondiente al departamento que se desea registrar. Este debe tener una longitud entre 1 y 50 caracteres.</p>
        <p>Descripción del Nuevo Departamendo: Aquí es donde se escribe la descripción correspondiente al departamento que se desea registrar, es decir, de lo que se encarga ese departamento en CEPCQ. Este debe tener una longitud entre 1 y 250 caracteres.</p>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <button onclick="return false;" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</button>
    </div>
</div>

<form method="post" action="guardar-departamento.php" enctype="multipart/form-data">
    <?php if(isset($Departamento)): ?>
    <input name="IdDepartamento" id="IdDepartamento" type="hidden" value="<?=$Departamento["IdDepartamento"];?>">
    <?php endif; ?>

    <div class="container">
        <div class="row">
            <div class="input-field col s12 m12 l12">
                <input placeholder="Nombre del Departamento" maxlength="50" data-length="50" id="nombreDep" type="text" class="validate nombreDep" name="nombreDep" value="<?php if(isset($Departamento)) echo $Departamento["NombreDepartamento"]?>" required="true">
                <label class="black-text" for="nombreDep">Nombre del Departamento</label>
            </div>
            <div class="input-field col s12 m12 l12">
                <input placeholder="Descripción del Departamento" maxlength="250" data-length="250" id="descripcionDep" type="text" class="validate descripcionDep" name="descripcionDep" value="<?php if(isset($Departamento)) echo $Departamento["DescripcionDepartamento"]?>" required="true">
                <label class="black-text" for="descripcionDep">Descripción del Departamento</label>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s7"></div>
            <div class="col s5">
              <button class="waves-effect waves-light btn-flat flow-text grey lighten-3 flow-text modal-trigger" type="submit" href="#modalCancel">Cancelar</button>
            <?php
                if(binarySearch($_SESSION["privilegios"], 25)){
                    echo '<button class="right btn waves-effect waves-light flow-text light-blue" type="submit" name="action">';
                    if(isset($Departamento)){
                        echo "Actualizar";
                    }else{
                        echo "Crear";
                    }
                    echo '</button>';
                }else if(binarySearch($_SESSION["privilegios"], 26) && isset($Departamento)){
                    echo '<button class="right btn waves-effect waves-light flow-text light-blue" type="submit" name="action">Actualizar
                    </button>';
                }
            ?>
            </div>
        </div>
    </div>
</form>

<div id="modalCancel" class="modal msg-modal z-depth-5">
    <div class="modal-content left-align">
        <h4 class="grey-text text-darken-3">
            <i class="left small material-icons red-text text-darken-2">warning</i>
            Cancelar la operación
        </h4>
        <p class="grey-text text-darken-3" id="messageContent">Presione 'Sí' para cancelar el registro o 'No' para continuar en la página</p>
    </div>
    <div class="modal-footer" id="buttonsMessage">
        <button onclick="return false;" class="modal-action modal-close waves-effect waves btn-flat">No</button>
        <button onclick="goBack()" class="modal-action modal-close waves-effect waves-red btn-flat">Sí</button>
    </div>
</div>
