<div class="section">
    <h5 class="center-align uppercase titulo-articulos">
        Todas las opciones
        <button class="ayuda btn-floating waves-effect waves-light red flow-text modal-trigger" name="action" href="#ayuda"><i class="material-icons">live_help</i></button>
    </h5>

    <div id="ayuda" class="modal">
        <div class="modal-content">
          <div class="row">
            <div class="col s12 center">
              <h4>Ayuda</h4>
            </div>
          </div>
          <div class="divider"></div>
          <div class="row">
            <div class="col s12">
              <p>En este apartado se encuentran todas las opciones disponibles al usuario según sus privilegios asignados.</p>
            </div>
          </div>

        </div>
        <div class="modal-footer">
            <button onclclick="return false;" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</button>
        </div>
    </div>

    <div class="container">
            <?php
            if(binarySearch($_SESSION["privilegios"], 1) || binarySearch($_SESSION["privilegios"], 2) || binarySearch($_SESSION["privilegios"], 3) || binarySearch($_SESSION["privilegios"], 22) || binarySearch($_SESSION["privilegios"], 23) || binarySearch($_SESSION["privilegios"], 24) || binarySearch($_SESSION["privilegios"], 29) ){
                echo '<ul class="collection with-header">
                            <li class="collection-header"><h4><i class="material-icons left small light-blue-text">short_text</i>Artículos</h4></li>
                            <li class="collection-item"><div><a href="../articulos/ver-articulos.php">Listar todos los artículos</a></div></li>
                            <!-- <li class="collection-item"><div> <a href="#">Listar borradores</a></div></li> -->
                       ';

                if(binarySearch($_SESSION["privilegios"], 1) || binarySearch($_SESSION["privilegios"], 22)){
                    echo '
                        <li class="collection-item"><div><a href="../articulos/nuevo-articulo.php">Registrar artículo</a></div></li>
                        ';
                }
                if(binarySearch($_SESSION["privilegios"], 29)){
                    echo '
                        <li class="collection-item"><div><a href="../articulos/editar-datos-subcategorias.php">Editar descripción y correos electrónicos de subcategorías</a></div></li>
                        ';
                }

                echo '</ul>';
            }

            if(binarySearch($_SESSION["privilegios"], 4) || binarySearch($_SESSION["privilegios"], 5) || binarySearch($_SESSION["privilegios"], 6) || binarySearch($_SESSION["privilegios"], 22) || binarySearch($_SESSION["privilegios"], 23) || binarySearch($_SESSION["privilegios"], 24)){
                echo '<ul class="collection with-header">
                            <li class="collection-header"><h4><i class="material-icons left small green-text">event</i>Eventos</li>
                       ';
            }

            if(binarySearch($_SESSION["privilegios"], 5) || binarySearch($_SESSION["privilegios"], 6) || binarySearch($_SESSION["privilegios"], 23) || binarySearch($_SESSION["privilegios"], 24)){
                echo '      <li class="collection-item"><div>
                                <a href="../eventos/ver-eventos-lista.php">Listar eventos</a>
                            </div></li>
                             <li class="collection-item"><div>
                                <a href="../eventos/ver-eventos.php">Ver calendario</a>
                            </div></li>
                            ';
            }

            if(binarySearch($_SESSION["privilegios"], 4) || binarySearch($_SESSION["privilegios"], 22)){
                echo '
                            <li class="collection-item"><div>
                                <a href="../eventos/nuevo-evento.php">Registrar evento</a>
                            </div></li>
                    ';
            }

            if(binarySearch($_SESSION["privilegios"], 4) || binarySearch($_SESSION["privilegios"], 5) || binarySearch($_SESSION["privilegios"], 6) || binarySearch($_SESSION["privilegios"], 22) || binarySearch($_SESSION["privilegios"], 23) || binarySearch($_SESSION["privilegios"], 24)){
                echo '</ul>';
            }

            if(binarySearch($_SESSION["privilegios"], 7) || binarySearch($_SESSION["privilegios"], 12) || binarySearch($_SESSION["privilegios"], 13) || binarySearch($_SESSION["privilegios"], 14) || binarySearch($_SESSION["privilegios"], 15) || binarySearch($_SESSION["privilegios"], 16) || binarySearch($_SESSION["privilegios"], 17) || binarySearch($_SESSION["privilegios"], 18) || binarySearch($_SESSION["privilegios"], 19) || binarySearch($_SESSION["privilegios"], 20)){
                echo '<ul class="collection with-header">
                            <li class="collection-header"><h4><i class="material-icons left small amber-text">people</i>Empleados</h4></li>
                            <li class="collection-item"><div>
                                <a href="../empleados/ver-empleados.php">Listar empleados</a>
                            </div></li>
                            <li class="collection-item"><div>
                                <a href="#">Listar ayudantes</a>
                            </div></li>
                    ';
            }

            if(binarySearch($_SESSION["privilegios"], 14) || binarySearch($_SESSION["privilegios"], 17)){
                echo '      <li class="collection-item"><div>
                                    <a href="../empleados/nuevo-empleado.php">Registrar empleado</a>
                            </div></li>
                        </ul>';
            }

            if(binarySearch($_SESSION["privilegios"], 25) || binarySearch($_SESSION["privilegios"], 26) || binarySearch($_SESSION["privilegios"], 27)){
                echo '<ul class="collection with-header">
                            <li class="collection-header"><h4><i class="material-icons left small dark-blue-text">business</i>Departamentos</h4></li>';
            }

            if(binarySearch($_SESSION["privilegios"], 26) && binarySearch($_SESSION["privilegios"], 27)){
                echo '  <li class="collection-item"><div>
                               <a href="../departamentos/ver-departamentos.php">Listar departamentos</a>
                        </div></li>
                    ';
            }

            if(binarySearch($_SESSION["privilegios"], 25)){
                echo '<li class="collection-item"><div>
                               <a href="../departamentos/nuevo-departamento.php">Registrar departamento</a>
                    </div></li>
                    </ul>';
            }

            if(binarySearch($_SESSION["privilegios"], 25) || binarySearch($_SESSION["privilegios"], 26) || binarySearch($_SESSION["privilegios"], 27)){

            }

            if(binarySearch($_SESSION["privilegios"], 8) || binarySearch($_SESSION["privilegios"], 9) || binarySearch($_SESSION["privilegios"], 10)){
                echo '<ul class="collection with-header">
                            <li class="collection-header"><h4><i class="material-icons left small dark-blue-text">verified_user</i>Roles</h4></li>';
            }

            if(binarySearch($_SESSION["privilegios"], 9) || binarySearch($_SESSION["privilegios"], 10)){
                echo '
                        <li class="collection-item"><div>
                               <a href="../roles/ver-roles.php">Listar roles</a>
                        </div></li>
                       ';
            }

            if(binarySearch($_SESSION["privilegios"], 8)){
                echo '
                        <li class="collection-item"><div>
                               <a href="../roles/nuevo-rol.php">Registrar rol</a>
                        </div></li>

                    ';
            }

            if(binarySearch($_SESSION["privilegios"], 8) || binarySearch($_SESSION["privilegios"], 9) || binarySearch($_SESSION["privilegios"], 10)){
                echo '</ul>';
            }

            if(binarySearch($_SESSION["privilegios"], 25)){
                echo '
                    <ul class="collection with-header">
                            <li class="collection-header"><h4><i class="material-icons left small deep-orange-text">view_compact</i>Página principal</h4></li>
                            <li class="collection-item"><div>
                                   <a href="../index/editar-banners.php">Cambiar banners</a>
                            </div></li>
                            <li class="collection-item"><div>
                                   <a href="../index/editar-textos.php">Modificar sección "¿Qué es protección civil?"</a>
                            </div></li>
                            <li class="collection-item"><div>
                                   <a href="../index/editar-atendemos.php">Modificar sección "¿Qué atendemos?"</a>
                            </div></li>
                            <li class="collection-item"><div>
                                   <a href="../index/editar-tramitamos.php">Modificar sección "¿Qué tramitamos?"</a>
                            </div></li>
                    </ul>
                    ';
            }

        ?>

        <ul class="collection with-header">
                <li class="collection-header"><h4><i class="material-icons left small red-text">person_pin</i>Cuenta</h4></li>
                <li class="collection-item"><div>
                       <a href="#" onclick="signOut();">Cerrar sesión</a>
                </div></li>
                <li class="collection-item"><div>
                       <a href="https://myaccount.google.com/signinoptions/password">Cambiar contraseña</a>
                </div></li>
        </ul>
    </div>
</div>
