<div class="section">
    <h5 class="center-align uppercase titulo-articulos">Mapa del Sitio</h5>
    
    <div class="container">
        <ul class="browser-default">
            <li><a href="../index/index.php">CEPCQ</a></li>
            <li>Nosotros</li>
            <ul class="browser-default">
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Conócenos'?>">Conócenos</a></li>
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Misión'?>">Misión</a></li>
                <li class="browser-default"><a href="../mapa/mapa-ubicacion.php">Ubicación</a></li>
            </ul>
            <li>Fenómenos</li>
            <ul class="browser-default">
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Naturales'?>">Naturales</a></li>
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Antrópicos'?>">Antrópicos</a></li>
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Astronómicos'?>">Astronómicos</a></li>
            </ul>
            <li>Cultura de la prevención</li>
            <ul class="browser-default">
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Niños'?>">Niños</a></li>
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Jóvenes'?>">Jóvenes</a></li>
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Adultos mayores'?>">Adultos Mayores</a></li>
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Familiar'?>">Familiar</a></li>
            </ul>
            <li>Programas Especiales</li>
            <ul class="browser-default">
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Temporada de frío y heladas'?>">Temporada de frío y heladas</a></li>
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Incendios forestales'?>">Incendios Forestales</a></li>
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Temporada de lluvias'?>">Temporada de lluvias</a></li>
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Respuesta y vinculación por sismos'?>">Respuesta y vinculación por sismos</a></li>
            </ul>
            <li>Trámites</li>
            <ul class="browser-default">
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Aforos'?>">Aforos</a></li>
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Eventos masivos'?>">Eventos masivos</a></li>
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Licencia de alcoholes'?>">Licencia de alcoholes</a></li>
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Registro de terceros acreditados'?>">Registro de terceros acreditados</a></li>
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Registro de grupos voluntarios'?>">Registro de grupos voluntarios</a></li>
            </ul>
            <li>Servicios</li>
            <ul class="browser-default">
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Capacitación'?>">Capacitación</a></li>
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Análisis de riesgos'?>">Análisis de riesgos</a></li>
            </ul>
            <li>Documentos</li>
            <ul class="browser-default">
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Marco jurídico'?>">Marco Jurídico</a></li>
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Guías'?>">Guías</a></li>
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Manuales'?>">Manuales</a></li>
                <li class="browser-default"><a href="../articulos/ver-articulos.php?sub=<?php echo 'Directorio'?>">Directorio</a></li>
            </ul>
            <li><a href="../articulos/ver-articulos.php?sub=<?php echo 'Noticias'?>">Noticias</a></li>
            <li><a href="../eventos/ver-eventos.php">Calendario</a></li>
        </ul>
    </div>
</div>
