<div class="section">
    <div class="container">        
        <div id="subtitulo">
            <h5 class="subtitulo-articulos">Sanitarios - Ecologicos</h5>
        </div>
        <p class="cuerpo-articulo">
            <?php echo getDescripcionSubCategoria(26); ?>
        </p>
        <div class="section">
            <?php echo getFenomenos(26,'Publicados'); ?>
        </div>
        
        <div id="subtitilo">
            <h5 class="subtitulo-articulos">Químicos - Tecnológicos</h5>
        </div>
        <p class="cuerpo-articulo">
            <?php echo getDescripcionSubCategoria(27); ?>
        </p>
        <div class="section">
            <?php echo getFenomenos(27,'Publicados'); ?>
        </div>
        
        <div id="subtitulo">
            <h5 class="subtitulo-articulos">Socio - Organizativos</h5>
        </div>
        <p class="cuerpo-articulo">
            <?php echo getDescripcionSubCategoria(28); ?>
        </p>
        <div class="section">
            <?php echo getFenomenos(28,'Publicados'); ?>
        </div>
    </div>
</div>
