<?php if(isset($publicacion)): ?>
	<div class="section">
		<div class="container">
			<nav class="white breadcrumbs z-depth-0">
	          	<div class="nav-wrapper">
	            	<div class="col s12">
		             	 <a style="cursor:default;" class="breadcrumb grey-text"><?php echo $publicacion["NombreCategoria"] ?></a>
		            	  <a href="../articulos/ver-articulos.php?id=<?php echo $publicacion['IdSubcategoria']?>" class="breadcrumb grey-text"><?php echo $publicacion["NombreSubcategoria"] ?>
			          	  </a>
			          	  <a style="cursor:default;" class="breadcrumb grey-text"><?php echo $publicacion['TituloPublicacion']?></a>
	           		</div>
	          	</div>
	        </nav>
			<h5 class="center-align uppercase titulo-articulos">
				<span>
					<?php
					if ($publicacion["FijoPublicacion"] == 1){
                        echo '<i class="material-icons small tooltipped" data-position="top" data-delay="50" data-tooltip="Artículo fijo" style="margin-right: 5px;">gps_fixed</i>';
					}
					echo $publicacion['TituloPublicacion']
					?>
					
				</span>
			</h5>
			<div class="row">
				<?php if( $publicacion['Borrador'] == 1 && isset($_SESSION["privilegios"]) ): ?>
					<span class="center-align" style="color:red; font-size: 1.4rem;">Borrador*</span>
				<?php endif; ?>
				<?php if(isset($_SESSION["privilegios"])) : ?>
								
	                <?php if(binarySearch($_SESSION["privilegios"], 3)) : ?>
	                	<a href="#!" class="right botonBorrar btn-floating red" data-ruta="eliminar-articulo.php" data-tooltip="Eliminar artículo"
	                                data-id="<?=$publicacion["IdPublicacion"]?>" data-tipo="articulo">
	                               <i class="material-icons">delete_forever</i>
	                	</a>
	                <?php endif; ?>
	                <?php if(binarySearch($_SESSION["privilegios"], 2) || binarySearch($_SESSION["privilegios"], 23)) : ?>
	                    <a href="editar-articulo.php?id=
						<?=$publicacion["IdPublicacion"]?>" data-tooltip="Editar articulo"
						class="right  btn-floating blue"><i class="material-icons">edit</i></a>
	                <?php endif; ?>
                
                    <?php if(binarySearch($_SESSION["privilegios"], 21)) : ?>
	                    <a href="bitacora-articulo.php?idArticulo=<?=$publicacion["IdPublicacion"]?>" data-tooltip="Ver bitácora de artículo"
						class="right  btn-floating green"><i class="material-icons">library_books</i></a>
	                <?php endif; ?>
					        	
				<?php endif; ?>
			</div>
			<?php if( $publicacion['RutaImagenesPublicacion'] != '' || $publicacion['URLVideoPublicacion'] != '' ): ?>
				<?=getSlider($publicacion["IdPublicacion"])?>
			<?php endif; ?>
			
			<div class='white-text date-wrapper center-align'>
                <p><small> <?php echo getFecha($publicacion['IdPublicacion']) ?> </small></p>
            </div>
			<p class="cuerpo-articulo"">
				<?php echo nl2br($publicacion['DescripcionPublicacion']); ?>
			</p>
			<?=getArchivosAdjuntos($publicacion)?>
            <?php
                if($publicacion["CorreoSubcategoria"] != NULL){
                    echo '<meta name="referrer" content="origin">
                        <h5 class="center-align uppercase titulo-articulos">
                            <span>Solicitar Más Información</span>
                        </h5>
                        <div class="container">
                        <div class="row">
                            <form method="POST" action="http://formspree.io/'.$publicacion["CorreoSubcategoria"].'">
                                <br>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input type="email" name="email" placeholder="Tu Correo Electronico" class="validate">
                                        <label class="black-text">Correo Electronico</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="mensaje" placeholder="Mensaje..." class="materialize-textarea validate mensaje" name="message" class="message"></textarea>
                                        <label class="black-text" for="mensaje">Mensaje</label>
                                    </div>
                                </div>
                                <input type="hidden" name="_next" value="WebApp/articulos/_articulo.php?id='.$id.'"/>
                                <input type="hidden" name="_subject" value="Solicitud de más información en '.$publicacion["NombreCategoria"].': '.$publicacion["TituloPublicacion"].' de Proteccion Civil Queretaro." />
                                <input type="hidden" name="categoria" value="Mas informacion"/>';
                                if ($publicacion["cc"] != NULL){
                                    echo '<input type="hidden" name="_cc" value="'.$publicacion["cc"].'" />';
                                }
                                
                                echo '<input type="hidden" name="_language" value="es" />
                                <div class="row">
                                    <div class="col s8"></div>
                                    <div class="col s4">
                                        <button class="right btn waves-effect waves-light flow-text light-blue" type="submit" name="action">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>';
                }
            ?>
		</div>
	</div> 
<?php endif; ?>
