<div class="section">
    <div class="container">  
        <div id="articulos-admin">
            <h5 class="subtitulo-articulos">Geológicos</h5>
        </div>
        <p class="cuerpo-articulo">
            <?php echo getDescripcionSubCategoria(24); ?>
        </p>
        <div class="section">
            <?php echo getFenomenos(24,'Publicados'); ?>
        </div>
        
        <div id="articulos-admin">
            <h5 class="subtitulo-articulos">Hidrometeorológicos</h5>
        </div>
        <p class="cuerpo-articulo">
            <?php echo getDescripcionSubCategoria(25); ?>
        </p>
        <div class="section">
            <?php echo getFenomenos(25,'Publicados'); ?>
        </div>

    </div>
</div>
