<div class="section">
    <div class="container">
        <h5 class="center-align uppercase titulo-articulos">Resultados Búsqueda</h5>
        
        <div class="section">
            <?php
                if($busqueda == ""){
                    echo '<div class="row"><h4>No se encontraron resultados para la búsqueda "'.$busqueda.'"</h4></div>';
                }else{
                    echo getArticulosBusqueda(4, $busqueda);;
                }
            ?>
        </div>

    </div>
</div>
