<div class="section">
    <h5 class="center-align uppercase titulo-eventos">
            Lista de eventos
            <button class="ayuda btn-floating waves-effect waves-light red flow-text modal-trigger" type="submit" name="action" href="#ayuda"><i class="material-icons">live_help</i></button>
    </h5>
</div>

<div id="ayuda" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="row center">
                <h4>Ayuda</h4>
            </div>
            <div class="divider"></div>
            <div class="row">
              <div class="col s2">
                <button onclick="return false;" class="btn-floating blue"><i class="material-icons">edit</i></button>
              </div>
              <div class="col s10">
                <p>Abre el formulario que permite editar la información del evento.</p>
              </div>
            </div>
            <div class="row">
              <div class="col s2">
                <button onclick="return false;" class="btn-floating red"><i class="material-icons">delete_forever</i></button>
              </div>
              <div class="col s10">
                <p>Permite eliminar el evento. Al eliminar el evento, dejará de aparecer en esta lista y en el calendario.</p>
              </div>
            </div>
            <div class="row">
              <p>Se puede agregar un evento nuevo dando clic en el botón "REGISTRAR" que se encuentra en el lado derecho inferior de la lista.</p>
              <p>Para ver todos los eventos en el calendario, dar clic en el botón "CONSULTAR CALENDARIO" que se encuentra en el lado izquierdo inferior de la lista.</p>
              <ul>IMPORTANTE:
                  <li>Los eventos se encuentran ordenados por fecha de inicio.</li>
                  <li>Los borradores se encuentran remarcados en amarillo. Y por lo tanto, sólo son visibles en esta tabla y aún no han sido publicados en el Calendario de eventos.</li>
              </ul>
            </div>
        </div>
        <div class="modal-footer">
            <a onclick="return false;" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
        </div>
</div>

<div class="container">
    <?php require_once("modelo-evento.php"); ?>
    <?php echo getEventosTable($_SESSION["privilegios"]); ?>
    <div class="divider"></div>
    <div class="row">
        <div class="col s12 m6 l6">
           <a href="ver-eventos.php">
               <button class="waves-effect waves-light green btn">Consultar calendario</button>
           </a>
        </div>
        <div class="col s6 m6 l6">
            <?php if(isset($_SESSION["privilegios"])){
                    if(binarySearch($_SESSION["privilegios"], 5) || binarySearch($_SESSION["privilegios"], 23)){
                        echo '<a href="nuevo-evento.php">
                                   <button class="right waves-effect waves-light light-blue btn">Registrar</button>
                               </a> ';
                        }
                    }
            ?>
        </div>
    </div>
</div>
