<?php if(isset($evento)): ?>
	<div class="section">
		<div class="container">
            <h5 class="center-align uppercase titulo-articulos">
				<span>
					<?php echo $evento['TituloEvento']; ?>
				</span>
			</h5>
            <div>
                <div class="row">
                    <?php if(isset($_SESSION["privilegios"])): ?>

                            <?php if(binarySearch($_SESSION["privilegios"], 6) || binarySearch($_SESSION["privilegios"], 24)): ?>
                                <a href="#!" class="right botonBorrar btn-floating red tooltipped" data-ruta="eliminar-evento.php" data-id="<?= $evento['IdEvento'] ?>" data-tipo="evento" data-position="top" data-delay="50" data-tooltip="Eliminar evento"><i class="material-icons">delete_forever</i></a>
                            <?php endif; ?>
                            
                            <?php if(binarySearch($_SESSION["privilegios"], 5) || binarySearch($_SESSION["privilegios"], 23)): ?>
                                <a href="editar-evento.php?idEvento=<?= $evento['IdEvento'] ?>" class="right  btn-floating blue tooltipped" data-position="top" data-delay="50" data-tooltip="Editar evento"><i class="material-icons">edit</i></a>
                            <?php endif; ?>
                    <?php endif; ?>
                </div>
                <?php echo getSliderEvento($evento['IdEvento']); ?>
                <div>
                    <p class="texto-eventos">
                        <?php echo $evento['DescripcionEvento']; ?>
                    </p>
                </div>
                <div class="divider"></div>
                <div class="valign-wrapper">
                    <i class="material-icons icono-evento">access_time</i>
                    <span class="span-evento">Inicia:</span><span><?php echo getFechaInicioEvento($evento['IdEvento']); ?></span>
                </div>
                <div class="valign-wrapper">
                    <i class="material-icons icono-evento">access_time</i>
                    <span class="span-evento">Termina:</span><span><?php echo getFechaFinEvento($evento['IdEvento']); ?></span>
                </div>
                <div class="valign-wrapper">
                    <i class="material-icons icono-evento">event_note</i>
                    <span class="span-evento">Tipo de evento:</span><span><?php echo imprimeTipoEvento($evento['IdEvento']); ?></span>
                </div>
                <div id="adjuntos-evento">
                    <?php echo getAdjuntosEvento($evento['IdEvento']); ?>
                </div>
                <div id="url-evento">
                    <?php echo getURLEvento($evento['IdEvento']); ?>
                </div>
            </div>
		</div>
	</div> 
<?php endif; ?>
