<div class="section">
    <h5 class="center-align uppercase titulo-eventos">
            <?php if(isset($evento)):?>Actualizar Evento
            <?php else: ?>Agregar Evento
            <?php endif;?>
            <button class="ayuda btn-floating waves-effect waves-light red flow-text modal-trigger" name="action" href="#ayuda"><i class="material-icons">live_help</i></button>
    </h5>
</div>

<div id="ayuda" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="row center">
                <h4>Ayuda</h4>
            </div>
            <div class="divider"></div>
            <p>Los campos que tienen un asterisco (*) son obligatorios: Tipo de evento, título, descripción, fecha de inicio, hora de inicio, fecha de fin, hora de fin.</p>
            <p>En el campo "Tipo de evento", se puede elegir más de un tipo si así se desea.</p>
            <p>En los campos "Fecha de inicio" y "Fecha de fin", se despliega un pequeño calendario donde se debe elegir el día, mes y año en que el evento se llevará a cabo. No se pueden elegir fechas pasadas.<br> Cuando la fecha que marcada en calendario es la deseada, presiona "OK".</p>
            <p>En los campos "Hora de inicio" y "Hora de fin", se despliega un pequeño reloj donde primero se debe elegir la hora en que el evento iniciará o terminará, dependiendo del campo que se esté llenando. <br> El formato del reloj es de 12 horas, por lo que es necesario elegir correctamente entre "AM" o "PM". <br> Después de haber elegido la hora, el reloj cambiará para poder elegir los minutos correspondientes a la hora de inicio o fin del evento. <br> Cuando la hora que marca el reloj es la deseada, presiona "OK".</p>
            <p>Para registrar el evento, da clic en el botón "REGISTRAR" que se encuentra en la parte inferior derecha del formulario.</p>
            <p>Si deseas cancelar el registro, da clic en el botón "CANCELAR".</p>
            <p>Si deseas guardar tus cambios para continuarlos después, da clic en el botón "GUARDAR BORRADOR". El evento aparecerá sólo en la lista de eventos.</p>
        </div>
        <div class="modal-footer">
            <a onclick="return false;" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
        </div>
</div>

<form id="form-evento" action="publicar-evento.php" method="post" enctype="multipart/form-data">
    <input id="action" name="action" value="submit" type="hidden">
    <?php if(isset($evento)): ?>
    <input name="idEvento" id="idEvento" type="hidden" value="<?=$evento["IdEvento"];?>">
    <?php endif; ?>
    <div class="container">
        <div class="row">
            <div class="input-field col s12 m12 l8">
                <select class="evento-select" id="idTipoEvento" name="idTipoEvento[]" multiple required>
                   <option value="" disabled selected>-- Elije uno o más tipos de evento --</option>
                    <?php require_once("modelo-evento.php"); ?>
                    <?php if(isset($evento)): ?>
                        <?=getDropdownTipoEvento($evento["IdEvento"])?>
                    <?php else: ?>
                        <?=getDropdownTipoEvento()?>
                    <?php endif; ?> 
                </select><label for="tipoevento" class="black-text">Tipo de Evento *</label>
            </div>

            <div class="input-field col s12 m12 l12">
                <input id="tituloEvento" name="tituloEvento" maxlength="200" type="text" class="validate" value="<?php if(isset($evento)) echo $evento["TituloEvento"]?>" required>
                <label for="tituloEvento" class="black-text">Título *</label>
            </div>

            <div class="input-field col s12 m12 l12">
                <textarea id="descripcionEvento" name="descripcionEvento" type="text" class="materialize-textarea" maxlength="2500" data-length="2500" required><?php if(isset($evento)) echo $evento["DescripcionEvento"]?></textarea>
                <label for="descripcionEvento" class="black-text">Descripción *</label>
            </div>

            <div class="input-field col s6">
                <input id="fechaInicio" name="fechaInicio" type="date" class="datepicker fechaInicio" data-value="<?php if(isset($evento)) echo date('Y/m/d', strtotime($evento["FechaInicio"]));?>" value="" required>
                <label for="fechaInicio" class="black-text"><i class="material-icons left">date_range</i>Fecha de inicio *</label>
            </div>

            <div class="input-field col s6">
                <input id="horaInicio" name="horaInicio" type="text" class="timepicker" value="<?php if(isset($evento)) echo date('h:iA', strtotime($evento["FechaInicio"]));?>" required>
                <label for="horaInicio" class="black-text"><i class="material-icons left">access_time</i>Hora de inicio *</label>
            </div>

            <div class="input-field col s6">
                <input id="fechaFin" name="fechaFin" type="date" class="datepicker fechaFin" data-value="<?php if(isset($evento)) echo date('Y/m/d', strtotime($evento["FechaFin"]));?>" value="" required>
                <label for="fechaFin" class="black-text"><i class="material-icons left">date_range</i>Fecha de fin *</label>
            </div>

            <div class="input-field col s6">
                <input id="horaFin" name="horaFin" type="text" class="timepicker" value="<?php if(isset($evento)) echo date('h:iA', strtotime($evento["FechaFin"]));?>" required>
                <label for="horaFin" class="black-text"><i class="material-icons left">access_time</i>Hora de fin *</label>
            </div>

            <div class="col s12">
                <div class="file-field input-field">
                    <div class="btn light-blue">
                        <i class="large material-icons">photo</i>
                        <input class="ignore" type="file" name="imagenes[]" id="imagenes" accept="image/*" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate imagenes ignore" type="text" id="rutaImagenes" name="rutaImagenes" placeholder="Adjuntar una o más imágenes" value="<?php if(isset($evento)) echo $evento["RutaImagenesEvento"]?>">
                        <div class="error" id="error-imagenes"></div>
                    </div>
                </div>
            </div>
            
            <?php if(isset($evento) && $evento["RutaImagenesEvento"]): ?>
                <div class="col s12">
                    <?=getImagenesEventoEditar($evento)?>
                </div>
            <?php endif; ?>

            <div class="col s12">
                <div class="file-field input-field">
                    <div class="btn light-blue">
                        <i class="large material-icons">attach_file</i>
                        <input class="ignore" type="file" name="archivos[]" id="archivos" accept=".pdf, .jpg, .jpeg, .png, .gif" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate archivos ignore" type="text" id="rutaAdjuntos" name="rutaAdjuntos" placeholder="Adjuntar uno o más archivos" value="<?php if(isset($evento)) echo $evento["RutaAdjuntosEvento"]?>">
                        <div class="error" id="error-archivos"></div>
                    </div>
                </div>
            </div>
            
            <?php if(isset($evento) && $evento["RutaAdjuntosEvento"]): ?>
                <div class="col s12">
                    <?=getArchivosAdjuntosEventoEditar($evento)?>
                </div>
            <?php endif; ?>
            

            <div class="input-field col s12">
                <input placeholder="https://www.youtube.com/..." id="urlVideo" name="urlVideo" type="url" class="validate" maxlength="5000" value="<?php if(isset($evento)) echo $evento["URLVideoEvento"]?>">
                <label for="url" class="black-text">URL Video</label>
                <div class="error" id="error-url"></div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="col s12 m6 l6">
                    <?php
                        if(binarySearch($_SESSION["privilegios"], 4) || binarySearch($_SESSION["privilegios"], 22)){
                            echo'<button class="waves-effect waves-light btn-flat flow-text grey lighten-3 evento-submit" type="submit" value="borrador" name="borrador" id="borrador">Guardar Borrador</button>';
                        }
                    ?>
                </div>
                <div class="col s6 m3 l3">
                    <button class="right waves-effect waves-light btn-flat flow-text grey lighten-3 flow-text modal-trigger" href="#modalCancel">Cancelar</button>
                </div>
                <div class="col s6 m3 l3">
                    <?php 
                        if(binarySearch($_SESSION["privilegios"], 4)){
                            echo '<button class="right btn waves-effect waves-light flow-text light-blue evento-submit" type="submit" value="publicar" name="publicar" id="publicar">';
                            if(isset($evento)){
                                echo "Actualizar";
                            }else{
                                echo "Registrar";
                            }
                            echo '</button>';
                        }else if(binarySearch($_SESSION["privilegios"], 5) && isset($evento)){
                            echo '<button class="right btn waves-effect waves-light flow-text green evento-submit" type="submit" value="publicar" name="publicar" id="publicar">Actualizar</button>';
                        }
                    ?>
                </div>
            </div>
        </div>
    </div>
</form>

<div id="modalCancel" class="modal msg-modal z-depth-5">
    <div class="modal-content left-align">
        <h4 class="grey-text text-darken-3">
            <i class="left small material-icons red-text text-darken-2">warning</i>
            Cancelar la operación
        </h4>
        <p class="grey-text text-darken-3" id="messageContent">Presione 'Sí' para cancelar el registro o 'No' para continuar en la página</p>
    </div>
    <div class="modal-footer" id="buttonsMessage">
        <button onclick="return false;" class="modal-action modal-close waves-effect waves btn-flat">No</button>
        <button onclick="goBack()" class="modal-action modal-close waves-effect waves-red btn-flat">Sí</button>
    </div>
</div>
