/* Paleta de colores */

.pink {
    background-color: #d50f67;
}

.pink-text {
    color: #d50f67;
}

.pink-hover {
    background-color: #f39aae;
}

.pink-hover-text {
    color: #f39aae;
}

.dark-blue {
    background-color: #0055b7;
}

.dark-blue-text {
    color: #0055b7;
}

.dark-blue-hover {
    background-color: #016BE3;
}

.dark-blue-hover-text {
    color: #6b94d4;
}

.green {
    background-color: #3fae29;
}

.green-text {
    color: #3fae29;
}

.green-hover {
    background-color: #a7d795;
}

.green-hover-text {
    color: #a7d795;
}

.purple {
    background-color: #94348c;
}

.purple-text {
    color: #94348c;
}

.purple-hover {
    background-color: #cc99c4;
}

.purple-hover-text {
    color: #cc99c4;
}

.orange {
    background-color: #ff4c00;
}

.orange-text {
    color: #ff4c00;
}

.orange-hover {
    background-color: #ffac83;
}

.orange-hover-text {
    color: #ffac83;
}

.yellow {
    background-color: #f4b708;
}

.yellow-text {
    color: #f4b708;
}

.yellow-hover {
    background-color: #edcf71;
}

.yellow-hover-text {
    color: #edcf71;
}

.light-blue {
    background-color: #025BCA !important;
}

.light-blue-text {
    color: #03a9f4;
}

.light-blue-hover {
    background-color: #addaf7;
}

.light-blue-hover-text {
    color: #addaf7;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav-extended a {
    color: #212121;
    padding: 0px 15px;
}

.navbar2 .nav-wrapper ul a,
.navbar2 h5 {
    letter-spacing: .1px;
    text-transform: uppercase;
    padding: 10px 8px;
    font-family: 'Roboto', sans-serif;
}

#menu-desktop li a {
    /*border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #fff*/
    ;
}

#menu-desktop li a:hover {
    color: #0057b8;
    background-color: white;
    /*border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #0057b8*/
    ;
}

.submenu-desktop {
    width: auto !important;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #fc4c02;
}

#menu-desktop .submenu-desktop li a:hover {
    color: white;
    background-color: #fc4c02;
    /*border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom-color: #0057b8;*/
}

#menu-desktop .submenu-desktop li {
    min-height: 0px;
}


/*#menu-desktop .submenu-desktop {
    margin-top: 0px !important;
}*/

.nav-extended ul a i {
    color: #0057b8;
}

.img-proteccion-civil {
    max-height: 56px;
    margin: 1.2em 0em;
}

.img-gobierno-queretaro {
    max-height: 150px;
}

/*footer {
    color: #000;
}

footer .row {
    margin-bottom: 0;
}

footer ul li {
    display: inline-block;
    float: none;
    clear: none;
}

footer ul {
    text-align: center;
    padding: 10px;
    margin: 0px;
}

footer ul a {
    font-size: .8em;
    padding: 0px 20px;
    color: white;
    font-weight: 200;
}

.footer-copyright {
    font-size: .75em;
    height: auto;
    padding: 0px !important;
    height: 30px;
}*/

.right-border {
    border-right-style: solid;
    border-right-color: black;
    border-right-width: thin;
}

/*.footer-images {
    border-style: solid;
    border-color: black;
    border-width: thin;
    padding: 20px 0px;
    width: 100%;
}

.page-footer {
    padding-top: 0px;
}*/

.section h6 {
    padding: 50px 0px;
    font-size: 24px;
}

.section h6,
.section h5,
.section h4,
.section h3,
.section h2,
.section h1 {
    padding: 1% 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.titulo-articulos, .titulo-empleados, .titulo-eventos, .titulo-roles {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-top: 2rem;
}

.titulo-articulos:after, .titulo-empleados:after, .titulo-eventos:after, .titulo-roles:after {
    content: "";
    position: absolute;
    width: 6%;
    height: .1em;
    top: -1px;
    left: 46.8%;
}

.titulo-roles:after{
    background: #0057b8;
}

.titulo-articulos:after {
    background: #0057b8;
}

.titulo-empleados:after{
    background: #f4b708;
}

.titulo-eventos:after{
    background: #3fae29;
}

.slider-container {
    border-bottom-color: #e0e0e0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.uppercase {
    text-transform: uppercase !important;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1200px;
}

.divider {
    margin: 20px 0px;
}

.top-nav-bar {
    height: auto;
    padding: 0 20px;
}

i.right {
    margin-left: 2px;
    cursor: pointer;
}

.top-nav-bar.row {
    margin: 0px;
}

.icon-container {
    border-radius: 10px;
    width: 20px;
    height: 20px;
}

.nav-extended .nav-wrapper {
    padding: 0px 20px;
    height: auto;
}

.nav-extended .nav-wrapper a {
    font-size: .85rem;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-wrapper a {
    height: auto;
}

.nav-wrapper .row {
    width: 100%;
    margin: 0;
}

.logo {
    display: inline-block;
    height: 100%;
}

.logo>img {
    vertical-align: middle;
}

.divider {
    height: 2px;
    overflow: hidden;
    background-color: #e0e0e0;
    width: 100%;
}

#ultima_noticia {
    height: 100%;
    margin: 0px;
}

#noticias .col {
    height: 100%;
}

.card.horizontal .card-image img {
    height: 100px;
}

.other-news .row {
    margin: 0px;
}

.card.horizontal .card-stacked .card-content {
    padding: 0px 25px;
}

.date-wrapper {
    width: 130px;
    padding: 1px;
    background-color: #fc4c02;
    line-height: 1.2;
}
.date-wrapper p {
    margin: .2rem;
}
.navbar1 {
    padding: .2rem 0rem;
    height: auto;
    line-height: inherit;
}

.navbar1 i {
    height: auto;
    margin-left: 20px;
}

.navbar2 {
    height: auto;
    z-index: 99;
}

.slider-container {
    padding: 0% 0% 2% 0%;
}

.slider .slides li img {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: white;
}

.slider .slides {
    background-color: white;
}

.feed-twitter,
.main-news,
.other-news {
    height: 536px !important;
}

.card .card-content {
    padding: 24px 0px 0px 0px;
}

.card.horizontal {
    margin: 0 !important;
}

#noticias {
    margin: 0px;
}

.modal .modal-content {
    padding: 24px;
    padding-bottom: 64px;
    margin-bottom: 56px;
}

.modal {
    width: 60% !important;
    max-height: 85% !important;
}

/*.modal.modal-fixed-footer {
    padding: 0;
    height: 96%;
    top: 2% !important;
}*/

/*footer .fixed-action-btn ul {
    left: -200px;
}

footer .fixed-action-btn ul li {
    display: block;
    margin: 0 auto;
}

footer .fixed-action-btn ul a {
    padding: 0px;
    color: #616161;
}

footer .fixed-action-btn ul a i {
    margin: 10px;
    font-size: 1.6rem;
}

footer .fixed-action-btn.active ul {
    background-color: #f5f5f5;
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0e0;
    opacity: .99;
    padding-left: 5px;
    color: #616161;
}*/

.timeline-Header {
    background-color: #2B7BB9;
}

#righthalf {
    float: left;
    width: 100%;
    background: #eee;
    height: 100%;
    align-content: center;
    text-align: center;
    background-color: transparent;
}

#lefthalf {
    float: left;
    width: 100%;
    vertical-align: center;
    font-size: 1em;
    height: 100%;
}

#righthalf img {
    max-height: 100%;
    max-width: 100%;
}

.carousel {
    height: 200px;
}

.feed-twitter,
.main-news,
.other-news {
    height: 536px !important;
    line-height: 1.2em;
}

.user-menu .fixed-action-btn ul {
    left: -180px;
}

.user-menu .fixed-action-btn ul li {
    display: block;
    margin: 0 auto;
}

.user-menu .fixed-action-btn ul a {
    padding: 0px;
    color: #616161;
}

.user-menu .fixed-action-btn ul a i {
    margin: 10px;
    font-size: 1.6rem;
}

.user-menu .fixed-action-btn.active ul {
    background-color: #f5f5f5;
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0e0;
    opacity: .99;
    padding-left: 5px;
    color: #616161;
    overflow-y: scroll;
}

/*footer .fixed-action-btn ul {
    left: -150px;
}*/

.imagecontainer {
    width: 100%;
    height: 100%;
}

.imagecontainer img {
    max-height: 100%;
    max-width: 100%;
}

.date_noticia {
    color: #fc4c02 !important;
}

a {
    cursor: pointer 1;
}

@media only screen and (max-width: 600px) {
    .searchbarfix {
        height: 60px !important;
    }
}

@media only screen and (min-width: 601px) {
    .searchbarfix {
        height: 60px !important;
    }
}

.navfix {
    position: relative;
    margin-right: 0;
}

#navfix2 {
    position: absolute;
}

#search {
    margin-bottom: 0 !important;
    cursor: pointer;
}

#search-icon-inside {
    top: -7px !important;
    display:none;
}

.user-menu .valign-wrapper .btn-floating {
    width: 32px;
    height: 32px;
    line-height: 30px;
}

.user-menu ul {
    overflow: auto;
}

.menu-options {
    overflow-y: scroll;
}

.menu-options .divider {
    margin: 10px 0px;
}

.menu-options ul {
    bottom: 75px;
}

.noticias-small-img-container {
    width: 40%;
}

.noticias-small-img-container img {
    width: 100% !important;
    object-fit: cover;
}

.card.horizontal .card-stacked {
    width: 60%;
}

.main-news .card-content {
    height: 60%;
}

.main-news .card-image {
    height: 40%;
}

.main-news .card-image img {
    height: 100% !important;
}

.main-news .card {
    height: inherit;
    margin: 0px;
}

p {
    word-wrap: break-word
}

nav .brand-logo {
    display: inline-flex;
}

.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
}

.fc-toolbar {
    text-transform: capitalize;
}

.error {
    position: relative;
    top: -1rem;
    left: 0rem;
    font-size: 0.8rem;
    color: #F44336;
    margin-bottom:.5rem;
}

/* Inician estilos para modal de fullCalendar */

#modal-titulo {
    margin: 0;
    text-align: center;
    font-weight: bold;
}

#modal-descripcion {
    text-align: justify;
}

.icono-evento{
    padding-right: .2em;
}

.span-evento {
    padding-right: .3em;
    font-weight: bold;
    line-height: 1.8em;
}

.slider-evento {
    z-index: 0;
}

.adjunto-eventos {
    padding: .25em 0 .25em 0.75rem !important;
}

.texto-eventos {
    white-space: pre-line;
    text-align: justify;
}


/* Terminan estilos modal de fullCalendar */

.card.small.hoverable i {
    margin-right: 10px;
    line-height: inherit;
}

.card-content {
    padding-top: 20px !important;
    padding-bottom: 5px !important;
}

.btn-floating{
    margin-left: 5px;
}

.msg-modal{
	max-width: 480px !important;
    overflow: hidden;
}

.msg-modal .modal-content{
    margin-bottom: 0px !important;
    padding: 2rem;
}

.msg-modal a, button.modal-action {
    color: #0e88ee;
}

.msg-modal .divider {
    margin: 0px;
}

.input-field label {
    font-size: .9rem;
    overflow:hidden;
}

.dropdown-content li>a {
    color: #212121;
}

small {
    font-size: .9rem;
}

.section {
    padding: 0px 0px;
}

.tab {
    margin-left: 2em;
}

#fecha-fin-fijo, #hora-fin-fijo, #fecha-publicar, #hora-publicar{
    cursor: pointer;
}

.error{
    margin: 0px;
    min-height: 13px;
}

#button1Container, #button2Container {
    display: inline-block !important;
}

.modal-content h4{
    font-size: 2rem;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0px;
}

.video-url-button{
    cursor: default;
}

.borrador{
    z-index: 1;
    background-color: rgba(0,0,0.2);
}

.card{
    z-index: 2;
}

.card.small .card-image {
    height: 55%;
}

.card .card-image img {
    height: 100%;
    object-fit: fit;
}



.video-container, iframe  {
    max-height: 650px;
}

.collapsible .dropdown-button.btn {
    width: auto;
    padding: 0 22px;
    font-size: .8rem;
}

.select-dropdown span label {
    min-height: 20px;
}

.select-wrapper{
    color: #9e9e9e;
}

.card.file{
    margin-right: 1.2rem;
    margin-left: 1.2rem;
}

.file .card-content {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    word-wrap: break-word;
}

.file .card-content .card-title{
    line-height: 1.2rem;
}

.titulo-adjuntos, .subtitulo-articulos{
    position: relative;
    margin-top: 2.2rem;
    margin-bottom: 0rem;
}

.titulo-adjuntos:after, .subtitulo-articulos::after {
    content: "";
    position: absolute;
    width: 2%;
    height: .1em;
    top: -2px;
    left: 0%;
    background: red;
}

.subtitulo-articulos::after {
    background: #0057b8;
}

/* Estilos para Próximos Eventos */
.prox-eventos {
    background-color: rgb(1, 141, 128);
    padding: 10px 0 10px 0;
}

.event-date {
    background-color: rgb(1, 141, 128);
    padding: 5px 0 5px 0;
}

.event-day {
    font: normal normal bold 5em/1 Tahoma, Geneva, sans-serif;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.event-month {
    font: normal 2em/1 Tahoma, Geneva, sans-serif;
    color: rgb(255, 175, 48);
}

.event-time {
    font: normal normal bold 1.5em/1 "Trebuchet MS", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
}

.event-card {

}

.default img {
    object-fit: contain;
}

.card.small .card-content {
    padding: 24px 5px 0px 5px;
}

.cuerpo-articulo {
     text-align: justify;
     font-size: 1.07rem;
}

.slider .indicators .indicator-item.active {
    background-color: #083fab;
}

.container .row {
    margin-left: 0px;
    margin-right: 0px;
}

.breadcrumb::before {
    color: #9e9e9e !important;
}

.breadcrumbs, .breadcrumbs a, .breadcrumbs a i{
    line-height: 30px;
    height: auto;

}

.breadcrumbs a{
    font-size: 1rem;
}

.breadcrumbs a i {
    font-size: 1.6rem;
}

.breadcrumbs {
    padding: .2rem 0rem;
}

/* Estilos para el mapa de Ubicación */
.mapa {
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

.map-container {
    position: relative;
    padding-bottom: 48%;
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Estilos para botones de fullCalendar */
.fc-button:focus {
    outline: none;
    background-color: #4CAF50;

}

.fc-event {
    cursor: pointer;
}

.checkbox-rol[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #0057b8;
     background-color: #0057b8;
}

.Subcategoria {
    padding-bottom: 1.4rem;
}

label {
    font-size: .95rem;
}

/*/*.slider-home{
    width: 100%;
    padding-bottom: 33.33%;
    position: relative;
}

.slider-home .slides{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}*/

.ratio {
    width: 100%;
    padding-bottom: 33.33333%;
    position: relative;
    background-color: white;
}

.slider-home{
    height: 100% !important;
    position: absolute;
}

.slider-home  ul.slides {
    height: 100% !important;
}

.img-que-es-pc img {
    max-width: 100%;
}

.img-que-es-pc {
    padding: 0px !important;
}

.slider-home .indicators {
    top: 101.5%;
    z-index:99;
}

.col .material-placeholder .materialboxed {
    width: 100%;
}

.tramitams.card.small .card-image, .atendemos.card.small .card-image {
    height: 80%;
    max-height: 80%;
}
.tramitams.card.small .card-content, .atendemos.card.small .card-content {
    padding: 5% !important;
}

#noticia5, #noticia4, #noticia3, #noticia2{
    max-height: 100px !important;
}
#noticia5 .card-content, #noticia4 .card-content, #noticia3 .card-content, #noticia2 .card-content{
    padding: 0px 1.5rem 0px 1.2rem !important;

}
.fenomenos .card-image{
    width: 100% !important;
    max-width: 100% !important; 
    overflow: auto !important;
}

.fenomenos .card-image img{
    width: 100% !important;
    height: auto !important;
}

.fenomenos p.cuerpo {
    font-size: 1.2rem;
}

.fenomenos .card-stacked {
    width: 100% !important;
}

.fenomenos .row {
    margin-bottom: 0px;
}

.fenomenos .col {
    padding-left: 0px;
}

.prox-eventos, .prox-eventos .event-date{
    background-color: #f5f5f5;
}

.event-month {
    color: #fa4c05;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
}
.event-day  {
    font-family: "Roboto", sans-serif;
    font-size: 5.5rem;
    font-weight: bold;
    color: #0156B9;
    text-shadow: none;
}

a {
    color: #025BCA;
}

.dark-grey {
    background-color: #e0e0e0;
}

.icon-footer .fa{
    font-size: 1.5rem;
    margin-left: 1.5rem;
}

.deep-orange {
    color: #fa4c05;
}

.event-time {
    color: #424242;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: initial;
}

.back-to-top i {
    font-size: 3rem !important;
    margin-right:0px;
}

footer {
    margin-top:2rem;
}

