<div class="section">
    <h5 class="center-align uppercase titulo-roles">
        Roles
        <button class="ayuda btn-floating waves-effect waves-light red flow-text modal-trigger" type="submit" name="action" href="#ayuda"><i class="material-icons">live_help</i></button>
    </h5>
</div>

<div id="ayuda" class="modal">
    <div class="modal-content">
        <div class="row center">
              <h4>Ayuda Roles</h4>
        </div>
        <div class="divider"></div>
        <div class="row">
            </div>
            <div class="row">
                <div class="col s2">
                    <button onclick="return false;" class="btn-floating blue pulse"><i class="material-icons">edit</i></button>
                </div>
                <div class="col s10">
                    <p>Editar información del rol.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s2">
                    <button onclick="return false;" class="btn-floating red pulse"><i class="material-icons">delete_forever</i></button>
                </div>
                <div class="col s10">
                    <p>Dar de baja el rol.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s2">
                    <button onclick="return false;" class="btn-floating blue pulse"><i class="material-icons">add</i></button>
                </div>
                <div class="col s10">
                    <p>Dar de alta un nuevo rol.</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button onclick="return false;" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</button>
        </div>
</div>

<div class="container">

    <?php echo getRoles(); ?>

    <div class="divider"></div>
    <div class="row">
        <div class="col s11"></div>
        <div class="col s1">
            <?php
                if(binarySearch($_SESSION["privilegios"], 8)){
                    echo '<a href="nuevo-rol.php" class="waves-effect waves-light light-blue btn-floating tooltipped" data-position="right" data-delay="50" data-tooltip="Crear rol">
                      <i class="material-icons">add</i>
                    </a>';
                }
            ?>
        </div>
    </div>
</div>
