<div class="section">
    <h5 class="center-align uppercase titulo-empleados">
        Empleados
        <button class="ayuda btn-floating waves-effect waves-light red flow-text modal-trigger tooltipped" data-position="right" data-delay="50" data-tooltip="Ayuda" name="ayuda" href="#ayuda"><i class="material-icons">live_help</i></button>
    </h5>
    <div id="ayuda" class="modal">
        <div class="modal-content">
            <div class="row center">
              <h4>Ayuda Empleados</h4>
            </div>
            <div class="divider"></div>
            <div class="row">
              <div class="col s2">
                <button onclick="return false;" class="btn-floating green pulse"><i class="material-icons">library_books</i></button>
              </div>
              <div class="col s10">
                <p>Consultar la bitácora del usuario. (Acciones que el usuario haya realizado como publicar, editar o eliminar artículos).</p>
              </div>
            </div>
            <div class="row">
              <div class="col s2">
                <button onclick="return false;" class="btn-floating blue pulse"><i class="material-icons">edit</i></button>
              </div>
              <div class="col s10">
                <p>Editar información del usuario.</p>
              </div>
            </div>
            <div class="row">
              <div class="col s2">
                <button onclick="return false;" class="btn-floating red pulse"><i class="material-icons">delete_forever</i></button>
              </div>
              <div class="col s10">
                <p>Dar de baja al usuario.</p>
              </div>
            </div>
            <div class="row">
              <div class="col s2">
                <button onclick="return false;" class="btn-floating blue pulse"><i class="material-icons">add</i></button>
              </div>
              <div class="col s10">
                <p>Dar de alta un nuevo usuario.</p>
              </div>
            </div>
        </div>
        <div class="modal-footer">
            <button onclick="return false;" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</button>
        </div>
    </div>
</div>
<div class="container">
