<div class="section">
    <h5 class="center-align uppercase titulo-eventos">
            Calendario de eventos
            <?php if(isset($_SESSION["privilegios"])){
                echo '<button class="ayuda btn-floating waves-effect waves-light red flow-text modal-trigger" type="submit" name="action" href="#ayuda"><i class="material-icons">live_help</i></button>';
            }?>
    </h5>
</div>

<?php
    if(isset($_SESSION["privilegios"])){
        echo '<div id="ayuda" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <div class="row center">
                            <h4>Ayuda</h4>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                          <p>Para ver los eventos por que hay por Semana, por Día o en Agenda, dar clic en las opciones que se encuentran del lado derecho superior del calendario.</p>
                          <p>Para ver más detalles de un evento, dar clic en el evento deseado dentro del calendario. Se desplegará una ventana con toda la información, incluyendo opciones para EDITAR o ELIMINAR el evento.</p>
                          <p>Se puede agregar un evento nuevo dando clic en el botón "REGISTRAR" que se encuentra en el lado derecho inferior del calendario.</p>
                          <p>Para ver todos los eventos que se han registrado a lo largo del tiempo, dar clic en el botón "CONSULTAR LISTA DE EVENTOS" que se encuentra en el lado izquierdo inferior del calendario.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a onclick="return false;" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
                    </div>
            </div>';
    }
?>

<div class="container">
    <?php require_once("modelo-evento.php"); ?>
    <div id="calendario"></div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s12 m12 l6">
            <?php
                if(isset($_SESSION["privilegios"])){
                    if(binarySearch($_SESSION["privilegios"], 4) || binarySearch($_SESSION["privilegios"], 5) || binarySearch($_SESSION["privilegios"], 6) || binarySearch($_SESSION["privilegios"], 22) || binarySearch($_SESSION["privilegios"], 23) || binarySearch($_SESSION["privilegios"], 24)){
                        echo '<a href="ver-eventos-lista.php">
                                <button class="waves-effect waves-light green btn">Consultar lista de eventos</button>
                            </a>';
                    }
                }?>
        </div>
        <div class="col s6 m6 l6">
           <a href="nuevo-evento.php">
               <?php
                if(isset($_SESSION["privilegios"])){
                    if(binarySearch($_SESSION["privilegios"], 4) || binarySearch($_SESSION["privilegios"], 22)){
                        echo '<button class="right waves-effect waves-light light-blue btn">Registrar</button>';
                    }
                }?>
           </a>
        </div>
    </div>
</div>

<!-- Modal que se despliega cuando das clic en un evento del calendario -->
<div id="modal-calendario" class="modal modal-fixed-footer">
    <div id="modal-content" class="modal-content modal-content-evento">
        <h1 id="modal-titulo" class="brand-logo center flow-text"></h1>
        <div class="divider"></div>
        <div id="slider-evento"></div>
        <div>
            <p id="modal-descripcion" class="texto-eventos"></p>
        </div>
        <div class="divider"></div>
        <div class="valign-wrapper">
            <i class="material-icons icono-evento">access_time</i>
            <span class="span-evento">Inicia:</span><span id="modal-inicia"></span>
        </div>
        <div class="valign-wrapper">
            <i class="material-icons icono-evento">access_time</i>
            <span class="span-evento">Termina:</span><span id="modal-termina"></span>
        </div>
        <div class="valign-wrapper">
            <i class="material-icons icono-evento">event_note</i>
            <span class="span-evento">Tipo de evento:</span><span id="modal-tipo"></span>
        </div>
        <div id="adjuntos-evento"></div>
        <div id="url-evento"></div>
        <input id="modal-idevento" type="hidden"/>
    </div>
    <div class="modal-footer">
        <?php
            if(isset($_SESSION["privilegios"])){
                if(binarySearch($_SESSION["privilegios"], 5) || binarySearch($_SESSION["privilegios"], 23)){
                    echo '<a id="modal-editar-evento" class="modal-action modal-close btn-floating blue left tooltipped" data-position="top" data-delay="50" data-tooltip="Editar evento"><i class="material-icons">edit</i></a>';
                }

                if(binarySearch($_SESSION["privilegios"], 6) || binarySearch($_SESSION["privilegios"], 24)){
                    echo '<a id="modal-eliminar-evento" href="#!" class="modal-action modal-close botonBorrar btn-floating red left tooltipped" data-ruta="eliminar-evento.php" data-id="" data-tipo="evento" data-position="top" data-delay="50" data-tooltip="Eliminar evento"><i class="material-icons">delete_forever</i></a>';
                }
            }?>
        <button onclick="return false;" class="modal-action modal-close waves-effect btn-flat ">Cerrar</button>
    </div>
</div>
