<div class="section">
    <h5 class="center-align uppercase titulo-roles">
        <?php if(isset($Rol)):?>Actualizar Rol
        <?php else: ?>Agregar Rol
        <?php endif;?>
        <button class="ayuda btn-floating waves-effect waves-light red flow-text modal-trigger" type="submit" name="action" href="#ayuda"><i class="material-icons">live_help</i></button>
    </h5>
</div>

<div id="ayuda" class="modal">
    <div class="modal-content">
        <h4 class="center-align">Ayuda para Registrar Rol</h4>
        <div class="divider"></div>
        <p>El formulario para registrar un nuevo rol se constituye por los siguientes campos:</p>
        <p>Nombre del Nuevo Rol: Aquí es donde se escribe el nombre correspondiente al rol que se desea registrar. Este debe tener una longitud entre 1 y 50 caracteres.</p>
        <p>Descripción del Nuevo Departamendo: Aquí es donde se escribe la descripción correspondiente al rol que se desea registrar, es decir, de lo que se encarga ese departamento en CEPCQ. Este debe tener una longitud entre 1 y 250 caracteres.</p>
        <p>Privilegios: Esta es una lista de las diferentes acciones que un podrá realizar dentro del sitio el usuario que cuente con el rol que se está registrando. Para seleccionarlos sólo es necesario dar clic sobre el cuadro a la izquierda del nombre del privilegio. Es necesario seleccionar por lo menos uno.</p>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <button onclick="return false;" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</button>
    </div>
</div>

<form method="post" action="guardar-rol.php" enctype="multipart/form-data">

    <?php if(isset($Rol)): ?>
    <input name="IdRol" id="IdRol" type="hidden" value="<?=$Rol["IdRol"];?>">
    <?php endif; ?>

    <div class="container">
        <div class="row">
            <div class="input-field col s12 m12 l12">
                <input data-length="50" maxlength="50" id="nombreRol" type="text" class="validate nombreRol" name="nombreRol" required="true" value="<?php if(isset($Rol)) echo $Rol["NombreRol"] ?>">
                <label class="black-text" for="nombreRol">Nombre Rol</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m12 l12">
                <input data-length="250" maxlength="250" id="descripcionRol" type="text" class="validate descripcionRol" name="descripcionRol" required="true" value="<?php if(isset($Rol)) echo $Rol["DescripcionRol"] ?>">
                <label class="black-text" for="descripcionRol">Descripcion Rol</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12">
                <label class="black-text" >Privilegios:</label>
            </div>
        </div>
        <div class="row">
            <?php require_once("modelo-roles.php");
                if(isset($Rol)){
                    echo getPrivilegios($Rol["IdRol"]);
                }else{
                    echo getPrivilegios();
                }
            ?>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s6"></div>
            <div class="col s5">
              <button class="waves-effect waves-light btn-flat flow-text grey lighten-3 flow-text modal-trigger" type="submit" href="#modalCancel">Cancelar</button>
            <?php
                if(binarySearch($_SESSION["privilegios"], 8)){
                    echo '<button class="right btn waves-effect waves-light light-blue flow-text" type="submit" name="action">';
                    if(isset($Rol)){
                        echo "Actualizar";
                    }else{
                        echo "Crear";
                    }
                    echo '</button>';
                }else if(binarySearch($_SESSION["privilegios"], 9) && isset($Rol)){
                    echo '<button class="right btn waves-effect waves-light light-blue flow-text" type="submit" name="action">Actualizar
                    </button>';
                }
            ?>
            </div>
        </div>
    </div>
</form>
<div id="modalCancel" class="modal msg-modal z-depth-5">
    <div class="modal-content left-align">
        <h4 class="grey-text text-darken-3">
            <i class="left small material-icons red-text text-darken-2">warning</i>
            Cancelar la operación
        </h4>
        <p class="grey-text text-darken-3" id="messageContent">Presione 'Sí' para cancelar el registro o 'No' para continuar en la página</p>
    </div>
    <div class="modal-footer" id="buttonsMessage">
        <button onclick="return false;" class="modal-action modal-close waves-effect waves btn-flat">No</button>
        <button onclick="goBack()" class="modal-action modal-close waves-effect waves-red btn-flat">Sí</button>
    </div>
</div>
