<div class="section">
    <h5 class="center-align uppercase titulo-articulos">Ubicación</h5>
    <div class="center mapa">
        <p>Rio Tuxpan 107, Col. Desarrollo San Pablo, C.P. 76130 Santiago de Querétaro, Qro.</p>
        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3734.2453105915197!2d-100.4077402855033!3d20.618855486221765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d35ae5f3b5a5fd%3A0x1dae8e9466436ebf!2sSecretar%C3%ADa+de+Seguridad+Ciudadana!5e0!3m2!1ses!2smx!4v1511456715263" width="560" height="315" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
