<meta name="referrer" content="origin">
<div class="container">
    <div class="row">
        <form method="POST" action="http://formspree.io/diego_be_8@hotmail.com">
            <br>
            <div class="row">
                <div class="input-field col s12">
                    <input type="email" name="email" placeholder="Tu Correo Electronico" class="validate">
                    <label>Correo Electronico</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="mensaje" placeholder="Mensaje..." class="materialize-textarea validate mensaje" name="message" class="message"></textarea>
                    <label for="mensaje">Mensaje</label>
                </div>
            </div>
            <input type="hidden" name="_next" value="#"/>
            <input type="hidden" name="_subject" value="Solicitud de mas informacion en Proteccion Civil Queretaro" />
            <input type="hidden" name="categoria" value="Mas informacion"/>
            <input type="hidden" name="_cc" value="lnicteha@queretaro.gob.mx" />
            <input type="hidden" name="_language" value="es" />
            <div class="row">
                <div class="col s8"></div>
                <div class="col s4">
                    <button class="right btn waves-effect waves-light flow-text light-blue" type="submit" name="action">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>