    </main>
        <footer class="page-footer light-blue">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">CEPCQ</h5>
                <p class="grey-text text-lighten-4">Coordinación Estatal de Protección Civil de Querétaro</p>
                <div class="col s3"><img class="responsive-img" src="../images/911.png"></div>
              </div>
              <div class="col l4 offset-l2 s12">
                <ul>
                    <li><a href="#" class="back-to-top white-text waves-effect waves-light btn deep-orange"><i class="material-icons left medium">arrow_drop_up</i>Volver arriba</a></li>
                    <li><p><i class="material-icons">place</i>Rio Tuxpan 107, Col. Desarrollo San Pablo, C.P. 76130 Santiago de Querétaro, Qro.</p></li>
                    <li><p><i class="material-icons">phone</i>( 442 ) 3091-430  </p></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="footer-copyright">
            <div class="container">
            <a class="white-text" href="../mapa-sitio/mapa-sitio.php">Mapa del sitio</a>
            <a class="right icon-footer" href="https://www.facebook.com/Coordinaci%C3%B3n-Estatal-de-Protecci%C3%B3n-Civil-del-Estado-de-Quer%C3%A9taro-1803984013156975/"><i class="fa fa-facebook white-text center-align" aria-hidden="true"></i></a>
            <a class="right icon-footer" href="https://twitter.com/pcivilqro?lang=es"><i class="fa fa-twitter white-text center-align" aria-hidden="true"></i></a>
            </div>
          </div>
        </footer>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../js/script.js"></script>
        <script type="text/javascript" src="../articulos/ajax-articulo.js"></script>
        <script type="text/javascript" src="../index/ajax-inicio.js"></script>
        <script type="text/javascript" src="../eventos/ajax-evento.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <!-- Import fullCalendar scripts -->
        <script type="text/javascript" src="../js/moment.min.js"></script>
        <script type="text/javascript" src="../js/fullcalendar.min.js"></script>
        <script type="text/javascript" src="../js/es.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
        <script type="text/javascript" src="../js/materializeMessages.js"></script>
        <script type="text/javascript" src="../js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="../js/additional-methods.min.js"></script>
    </body>
</html>
