<div class="user-menu">
    <div class="fixed-action-btn user-menu click-to-toggle">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">menu</i>
        </a>
        <div class="menu-options">
            <ul class="z-depth-5">
                <?php

                    if(binarySearch($_SESSION["privilegios"], 28)){
                        echo '  <li>
                                    <h5>Banners</h5>
                                </li>
                                <li>
                                    <a href="../index/editar-banners.php">
                                        <div class="valign-wrapper">
                                            <i class="material-icons left btn-floating light-blue">image</i>
                                            <h6>Editar banners</h6>
                                        </div>
                                    </a>
                                </li>
                                <div class="divider"></div>'; 
                    }

                    if(binarySearch($_SESSION["privilegios"], 1) || binarySearch($_SESSION["privilegios"], 2) || binarySearch($_SESSION["privilegios"], 3) || binarySearch($_SESSION["privilegios"], 22) || binarySearch($_SESSION["privilegios"], 23) || binarySearch($_SESSION["privilegios"], 24)){

                        if(binarySearch($_SESSION["privilegios"], 1) || binarySearch($_SESSION["privilegios"], 22)){
                            echo '<li>
                                    <h5>Artículos</h5>
                                  </li>';

                            echo '<li>
                                <a href="../articulos/nuevo-articulo.php">
                                    <div class="valign-wrapper">
                                        <i class="material-icons left btn-floating light-blue">add</i>
                                        <h6>Registrar articulo</h6>
                                    </div>
                                </a>
                            </li>';
                            echo '<li>
                                <a href="../articulos/ver-articulos.php">
                                    <div class="valign-wrapper">
                                        <i class="material-icons left btn-floating light-blue">format_quote</i>
                                        <h6>Listar todos los articulos</h6>
                                    </div>
                                </a>
                            </li>';
                        }

                        echo '<div class="divider"></div>';

                    }

                    if(binarySearch($_SESSION["privilegios"], 4) || binarySearch($_SESSION["privilegios"], 5) || binarySearch($_SESSION["privilegios"], 6)){
                        echo '<li>
                            <h5>Eventos</h5>
                        </li>
                        <li>
                            <a href="../eventos/ver-eventos.php">
                                <div class="valign-wrapper">
                                    <i class="material-icons left btn-floating green">date_range</i>
                                    <h6>Listar eventos</h6>
                                </div>
                            </a>
                        </li>';

                        if(binarySearch($_SESSION["privilegios"], 4) || binarySearch($_SESSION["privilegios"], 22)){
                            echo '<li>
                                <a href="../eventos/nuevo-evento.php">
                                    <div class="valign-wrapper">
                                        <i class="material-icons left btn-floating green">event_available</i>
                                        <h6>Registrar evento</h6>
                                    </div>
                                </a>
                            </li>';
                        }
                        echo '<div class="divider"></div>';

                    }
                ?>

                <li>
                    <a href="../todas-opciones/ver-opciones.php">
                        <div class="valign-wrapper">
                            <i class="material-icons left btn-floating red">clear_all</i>
                            <h6>Listar todas las opciones</h6>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="signOut();">
                        <div class="valign-wrapper">
                            <i class="material-icons left btn-floating red">open_in_new</i>
                            <h6>Cerrar Sesión</h6>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
